{#
 #  Events
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
	
	<section id="event-entry">

		<div class="container">

			<div class="title-image" style="background-image:url({{entry.image.first().getUrl('fit700')}})"></div>

			<p> 
				<span class="blue">{{entry.eventCategory.first()}}</span>
				<span class="calendar"> <span class="icon"></span> {{event.timeAndDate | date('F jS Y')}} </span>
				<span class="clock">  <span class="icon"></span> {{event.timeAndDate | date('H:i')}} </span>
			</p>

			<h4>Description</h4>

			<p>{{entry.description | nl2br}} </p>

			<a href="{{entry.moreInfoLink}}" class="btn btn-blue"> More Info </a>

		</div>

	</section>


{% endblock %}