{#
 #  Events
 # -----------------------
 #}

{% extends "_layout" %}
{% set bodyColor = 'grey' %}
{% set title = 'Events' %}

{% block content %}
	
	<section id="events">

		<div class="container">

			<h4 class="page-title"> What's going on </h4>

			<p class="page-description">{{entry.text}}</p>

			<div class="filters">

				<h4>Filters</h4>

				{% for category in craft.categories.group('eventType') %}

					<a class="btn btn-grey-clear" href="{{category.url}}">{{category.title}}</a>
				
				{% endfor %}
			</div>

			{% paginate craft.entries.section('eventEntries').limit(8) as pageInfo, events%}

			{% for event in events %}

				<div class="event-entry">

					<div class="image" style="background-image:url('{{event.image.first().getUrl}}')"></div>

					<div class="text">

						<h2><a href="{{event.url}}">{{event.title}}</a></h2>
						<p class="blue"> 
							{% for catergory in event.eventCategory %}{% if not loop.first %},{% endif %} {{catergory.title}}{% endfor %}
						</p>

						<p>{{event.description}}</p>
					</div>

					<div class="info-bar">

						<div class="icon calendar"></div>
						<p> {{event.timeAndDate | date('F jS Y')}} </p>

						<div class="icon clock"></div>
						<p>{{event.timeAndDate | date('H:i')}}</p>

						<a class="btn btn-blue-clear" href="{{event.url}}"> Read more </a>
					</div>

				</div>

			{% endfor %}

			{% if pageInfo.prevUrl or pageInfo.nextUrl %}

				<div class="paginate">

					{% if pageInfo.prevUrl %}
						<a href="{{ pageInfo.prevUrl }}" class="btn btn-blue"> Last Page </a>
					{% else %}
						<button class="btn btn-grey-clear"> Last Page </button>
					{% endif %}

					{% if pageInfo.nextUrl %}
						<a href="{{ pageInfo.nextUrl }}" class="btn btn-blue"> Next Page </a>
					{% else %}
						<button class="btn btn-grey-clear"> Next Page </button>
					{% endif %}
				</div>
			{% endif %}

		</div>

	</section>


{% endblock %}