* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

*:focus {
  outline: none; }

a img{
	border: none;
}

/* Z indexes

	
*/

// =========
//  Colors
// =========

$white: #fff;
$white-border: #e0e0e5;
$grey-light: #f4f5f7;
$blue-light: #00c0f3;
$blue-dark: #424753;
$blue-darker: #24272e;
$green: #89d473;
$red: #d54b4b;

.blue{ color: $blue-light; }

// ==========
//  Fonts 
// ==========

@font-face {
	font-family: Avenir-Medium;
	src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
		 url('../fonts/Avenir-Medium.woff') format('woff'),
		 url('../fonts/Avenir-Medium.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Avenir-Book;
	src: url('../fonts/Avenir-Book.woff2') format('woff2'),
		 url('../fonts/Avenir-Book.woff') format('woff'),
		 url('../fonts/Avenir-Book.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Avenir-Light;
	src: url('../fonts/Avenir-Light.woff2') format('woff2'),
		 url('../fonts/Avenir-Light.woff') format('woff'),
		 url('../fonts/Avenir-Light.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Avenir-Heavy;
	src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
		 url('../fonts/Avenir-Heavy.woff') format('woff'),
		 url('../fonts/Avenir-Heavy.ttf') format('truetype');
	font-weight: normal;
}

// ========
//  Text
// ========

h1{

	font-size: 44px;
	color: $white;
	text-align: center;
	font-family: Avenir-Book;
	margin-bottom: 5px;
	font-weight: 100;
	//text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h2{

	font-size: 30px;
	font-weight: 100;
	font-family: Avenir-Heavy;
}

h3{

	font-size: 24px;
	font-weight: 100;
	font-family: Avenir-Medium;
}

h4{

	font-size: 18px;
	font-weight: 100;
	font-family: Avenir-Medium;
}

p{

	font-family: Avenir-Book;
	font-size: 16px;
	opacity: 0.8;
	margin: 30px 0;

	&.small{

		font-size: 14px;
	}

	a{

		color: #00a0f3;
	}
}

blockquote{

	font-size: 16px;
	font-family: Avenir-Medium;
	font-style: italic;
	padding: 30px;
	border-left: 2px solid $blue-light;
	opacity: 0.8;
}

input,label,textarea{

	font-family: Avenir-Book;
	font-size: 16px;
	opacity: 0.8;
}

a{

	text-decoration: none;

	&:hover{

		text-decoration: underline;
	}
}

// ==============
//  Components
// ==============

body{

	overflow-x: hidden;

	&.noscroll{ 
		height: 100%;
		overflow: hidden;
		width: 100%;
		position: fixed;
	}
}

.page{

	background: $white;
	position: relative;

	&.grey{ background: $grey-light; }
}

.icon{

	background: url(../img/icons.png);
	background-size: 150px;
}

// Containers and columns

.container{

	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
	left: 0; right: 0;
}

.row{

	overflow: auto;
	margin: 0 -30px;
}

.col-50{

	width: 50%;
	padding: 0 30px;
	float: left;
	min-height: 1px;
}

.col-66{

	width: 66.666666%;
	padding: 0 30px;
	float: left;
	min-height: 1px;
}

.col-33{

	width: 33.333333%;
	padding: 0 30px;
	float: left;
	min-height: 1px;
}

.col-25{

	width: 25%;
	padding: 0 30px;
	float: left;
	min-height: 1px;
}

// Rulers

hr{

	max-width: 100px;
	height: 2px;
	background: $blue-light;
	border: none;
	margin: 20px 0;
}

.ruler{

	width: 231px;
	margin: 0 auto;

	.line{

		width: 100px;
		margin: 3px 0;
		background: $white;
		height: 1px;
		float: left;
	}

	.dot{

		background: $blue-light;
		width: 7px;
		height: 7px;
		margin: 0 12px;
		border-radius: 100%;
		float: left;
	}
}

// Form

.form{

	label{

		display: block;
		margin-bottom: 5px;
	}

	.input-group{

		position: relative;
		background: $white;
		border-radius: 4px;
		border: 1px solid $white-border;
		padding: 12px 12px 12px 75px;
		margin-bottom: 20px;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;

		input{

			background: none;
			border: none;
			width: 100%;
		}

		textarea{

			border: none;
			width: 100%;
		}

		select{

			-webkit-appearance: none;
			width: 100%;
			background: none;
			font-family: Avenir-Book;
			font-size: 16px;
			border: none;
			color: $blue-dark;
		}

		.vr{

			position: absolute;
			background: $white-border;
			width: 1px;
			height: 28px;
			top: 10px;
			left: 55px;
		}

		&.error{

			border: 1px solid $red;
			box-shadow: 0 2px 5px rgba(223,31,60,0.14);
		
			.error-text{ display: block; }
		}

		.error-text{

			display: none;
			position: absolute;
			right: 0;
			bottom: -25px;
			color: $red;
			font-family: Avenir-Book;
			font-size: 14px;
		}

		.icon{

			position: absolute;

			&.user{

				background-position: 0 0;
				width: 16px;
				height: 16px;
				top: 15px;
				left: 20px;
			}

			&.email{

				background-position: -100px 0;
				width: 26px;
				height: 16px;
				top: 15px;
				left: 15px;
			}

			&.message{

				background-position: -25px 0;
				width: 20px;
				height: 20px;
				top: 15px;
				left: 18px;
			}

			&.tel{

				background-position: 0 -200px;
				width: 20px;
				height: 20px;
				top: 15px;
				left: 18px;
			}

			&.address{

				background-position: -25px -200px;
				width: 12px;
				height: 20px;
				top: 15px;
				left: 22px;
			}

			&.postcode{

				background-position: -50px -200px;
				width: 20px;
				height: 20px;
				top: 15px;
				left: 18px;
			}
		}
	}

	.checkbox-group{

		margin-bottom: 20px;

		input{

			margin-right: 5px;
		}

		label{

			display: inline-block;
		}
	}
}

// Tabs

.tabs{

	text-align: center;
	margin: 50px 0;
	font-size: 0px;

	.tab{

		position: relative;
		display: inline-block;
		font-size: 24px;
		font-family: Avenir-Book;
		padding: 20px 70px;
		border-right: 1px solid $white-border;
		cursor: pointer;

		&:last-child{ border: none; } 

		.blue-line{

			background: $blue-light;
			width: 0px;
			height: 2px;
			position: absolute;
			bottom: 2px;
			left: 0; right: 0;
			margin: auto;
			transition: 0.3s all;
			-webkit-transition: 0.3s all;
		}

		&:hover,&.active{

			.blue-line{

				width: 100px;
			}
		}
	}
}

.tab-group{

	display: none;

	&.open{

		display: block;
	}
}

@media(max-width:740px){

	.tabs{

		.tab{

			width: 33.33333%;
			font-size: 18px;
			padding: 20px 0px;
			text-align: center;
		}
	}
}

@media(max-width:400px){

	.tabs{

		margin: 15px -30px 70px;

		.tab{

			width: 33.33333%;
			font-size: 14px;
			padding: 20px 0px;
			border: none;
		}
	}
}

// Filters

.filters{

	margin-bottom: 40px;

	.btn{

		min-width: auto;
		padding: 14px 24px;
		margin: 15px 20px 15px 0;

		&.active{

			background: $blue-light;
			color: $white;
			border: none;
		}
	}

	.icon.close{

		display: inline-block;
		background-position: -100px -25px;
		width: 25px;
		height: 25px;
		margin-bottom: -6px;
		opacity: 0.5;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;

		&:hover{

			opacity: 1;
		}
	}
}

@media(max-width: 500px){

	.filters .btn.btn-grey-clear{

		padding: 15px;
		margin: 15px 6px 15px 0;
		font-size: 14px;
	}

}

// Buttons

.btn{

	display: inline-block;
	height: 50px;
	font-family: Avenir-Medium;
	font-size: 16px;
	border-radius: 4px;
	min-width: 220px;
	padding: 15px 30px;
	text-align: center;
	cursor: pointer;
	border: none;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;

	&:hover{

		text-decoration: none;
	}

	&.btn-blue{

		background: $blue-light;
		color: $white;
	
		&:hover{

		}
	}

	&.btn-blue-clear{

		background: none;
		color: $blue-light;
		border: 1px solid $blue-light;
		padding: 13px 30px;

		&:hover{

			background: $blue-light;
			color: $white;
		}
	}

	&.btn-grey-clear{

		background: none;
		color: #72767e;
		border: 1px solid #e2e3e6;
		padding: 13px 30px;

		&:hover{

			background: #e2e3e6;
			color: #72767e;
		}
	}

	&.btn-white-clear{

		background: none;
		color: $white;
		border: 1px solid $white;
		padding: 13px 30px;

		&:hover{

			background: $white;
			color: $blue-dark;
		}
	}
}

.page-description{

	max-width: 680px;
	margin: 80px auto;
	width: 100%;
	text-align: center;
}

.paginate{

	width: 100%;
	text-align: center;
	margin-top: 60px;

	.btn:first-child{ margin-right: 15px; }
}

@media(max-width: 600px){

	.paginate{

		.btn{

			max-width: 220px;
			display: block;
			margin: 0 auto 15px !important;
		}
	}
}

// Map

#map-overlay{

	position: relative;
	font-size: 20px;
	background: $white;
	border-radius: 4px;
	width: 310px;
	height: 160px;
	padding: 25px 30px;
	color: $blue-dark;
	margin-top: -160px;

	.icon.marker{

		background-position: -50px 0;
		width: 25px;
		height: 25px;
		margin-top: 15px;
		float: left;
	}

	.arrow{

		position: absolute;
		background: $white;
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		bottom: -10px;
		left: 0;
		right: 0;
		margin: auto;
	}

	p{

		width: 200px;
		padding-left: 10px;
		margin: 10px 0;
		float: left;
	}
}

header{

	position: relative;
	background: $blue-dark;
	width: 100%;
	border-bottom: 10px solid $grey-light;
	overflow: auto;

	.bg-img{

		position: absolute;
		top: 0; left: 0;
		background: url(../img/header-landscape.jpg) no-repeat;
		background-size: cover;
		background-position: center bottom;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		z-index: 1;
	}

	.top-fade{

		position: absolute;
		width: 100%;
		height: 150px;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0.3;
		background: -moz-linear-gradient(top,  rgba(36,39,46,1) 0%, rgba(36,39,46,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(36,39,46,1) 0%,rgba(36,39,46,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(36,39,46,1) 0%,rgba(36,39,46,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403a3a', endColorstr='#00403a3a',GradientType=0 ); /* IE6-9 */
	}

	nav{

		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 4;
		transition: none;
		-webkit-transition: none;
		
		&.detach{

			position: fixed;
			background: rgba(36, 37, 40, 0.95);
			opacity: 0;
			transform: translate(0,-100%);
			-webkit-transform: translate(0,-100%);
		}

		&.animate{

			transition: 0.3s all;
			-webkit-transition: 0.3s all;
		}

		&.fixed{

			transform: translate(0,0);
			-webkit-transform: translate(0,0);
			opacity: 1;
		}

		.logo{

			background-position: 0 -50px;
			width: 53px;
			height: 53px;
			margin-top: 25px;
			float: left;
		}

		.links{

			float: right;

			.link{

				position: relative;
				display: inline-block;
				color: $white;
				font-family: Avenir-Light;
				padding: 40px 20px 40px;

				&.active{

					border-top: 5px solid $blue-light;
					color: $blue-light;
					font-family: Avenir-Medium;
				}

				&:hover{

					text-decoration: none;
					color: $blue-light;

					.dropdown:not(.no-hover){ height: auto; }
				}
			}

			.dropdown{

				background: rgba(36,37,40,0.9);
				position: absolute;
				top: 80px;
				left: -18px;
				width: 150px;
				overflow: hidden;
				height: 0px;
				transition: 0.3s all;
				-webkit-transition: 0.3s all;

				&.open{ height: auto; }

				.link{

					display: block;
					width: 100%;
					text-align: center;
					margin: 30px 0;
					padding: 0;
				}
			}
		}
	}

	.central-text{

		position: relative;
		width: 100%;
		max-width: 500px;
		margin: 180px auto;
		padding: 0 30px;
		z-index: 3;
		text-align: center;

		p{

			color: $white;
		}
	}

	.lower-text{

		position: absolute;
		background: rgba(36,37,40,0.5);
		width: 100%;
		height: 130px;
		bottom: 0;
		z-index: 3;
		color: $white;

		.service-times{

			float: left;
			padding: 20px 0;

			p{
				margin: 5px 0 0;
			}
		}

		.cta-btns{

			float: right;

			.btn{

				min-width: 140px;
				margin: 43px 0 0 20px;
			}
		}
	}

	&.collapse{

		.lower-text, .central-text p, .central-text .btn{ display: none; }
		.bg-img{ opacity: 0.2; }
	}
}

nav.mobile-nav{

	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	pointer-events: none;

	.hamburger{

		position: absolute;
		top: 30px;
		right: 30px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 7;
		pointer-events: auto;

		.filling{

			background: $white;
			width: 100%;
			height: 2px;
			margin-bottom: 8px;
			transition: 0.3s all;
		}
	}

	.links{

		width: 260px;
		height: 100vh;
		pointer-events: auto;
		position: absolute;
		top: 0;
		right: -260px;
		background:rgba(36,37,40,0.9);
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		z-index: 6;
		padding: 50px 0 80px;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;

		visibility: hidden;
		opacity: 0;

		.link{

			position: relative;
			display: block;
			color: $white;
			text-align: left;
			margin: 0 auto;
			padding: 15px 30px;
			font-family: Avenir-Medium;
			font-size: 18px;

			&.active:before{

				content: '';
				display: block;
				width: 100px;
				height: 2px;
				position: absolute;
				background: $blue-light;
				bottom: 5px;
			}
		}

		.col-50:first-child{

			border-right: 1px solid $white-border;
		}
	}
}

.nav-open nav.mobile-nav{

	pointer-events: auto;
	background: rgba(0,0,0,0.3);

	.hamburger{

		.f1{

			transform: translate(0px,12px) rotate(-135deg);
			-webkit-transform: translate(0px,12px) rotate(-135deg);
		}

		.f2{ opacity: 0; }

		.f3{

			transform: translate(0,-8px) rotate(135deg);
			-webkit-transform: translate(0,-8px) rotate(135deg);
		}
	}

	.links{

		visibility: visible;
		opacity: 1;
		right: 0px;
	}
}

@media(max-width: 870px){

	header{

		nav{

			&.detach{

				display: none;
			}

			.links{

				display: none;
			}
		}

		.central-text{

			h1{

				font-size: 38px;
			}
		}

		&.collapse .central-text{

			margin: 120px auto;
		}

		.lower-text{

			height: auto;

			.cta-btns{ display: none;}
		}
	}

	nav.mobile-nav{

		display: block;
	}
}

// Newsletter

.newsletter{

	position: relative;
	background: $grey-light;
	padding: 60px 0;
	margin-top: 120px;
	text-align: center;
	color: $blue-dark;

	.form{

		margin-top: 30px;

		.input-group{

			display: inline-block;
			width: 250px;
			height: 50px;
			vertical-align: top;
			margin-right: 30px;
		}
	}

	.newsletter-error-text{

		position: absolute;
		width: 100%;
		bottom: 25px;
		text-align: center;
		color: $red;
		margin: 0;
		font-family: Avenir-Medium;
		display: none;
	}

	h3{

		//margin: 30px 0;
	}

	.associates-carousel{

		max-width: 900px;
		width: 100%;
		margin: 30px auto;
		font-size: 0px;
	}

	.associate-logo{
		
		position: relative;
		margin-right: 40px;
		display: inline-block !important;
		float: none !important;
		vertical-align: middle;

		img{

			vertical-align: middle;
		}
	}

	.slick-prev, .slick-next{

		position: absolute;
		background: url(../img/arrows.png);
		background-size: auto 80px;
		width: 46px;
		height: 80px;
		top: 0;
		border: none;
		text-indent: 99999px;
		opacity: 0.4;
		cursor: pointer;

		&:hover{ opacity: 0.8; }
	}

	.slick-prev{

		left: -80px;
	}

	.slick-next{

		background-position: -45px 0;
		right: -80px;
	}


	hr{

		margin: 60px auto 60px;
		max-width: 600px;
		background: $white-border;
		height: 1px;
	}
}

@media(max-width:900px){

	.newsletter{

		button.slick-next.slick-arrow, button.slick-prev.slick-arrow{ display: none; }
	}
}

@media(max-width:850px){

	.newsletter{

		margin-top: 60px;

		.form{

			padding: 0 30px;

			.input-group{

				display: block;
				width: 100%;
				max-width: 600px;
				margin: 30px auto;
			}

			.btn{

				width: 100%;
				max-width: 600px;
			}
		}
	}
}

// Footer

footer{

	background: $blue-dark;
	overflow: auto;
	padding: 40px 0;
	color: $white;

	.container{

		padding: 0;
	}

	.logo{

		background-position: 0 -50px;
		width: 53px;
		height: 53px;
	}

	p{

		font-size: 14px;
		margin: 15px 0;

		a{ color: $white; }
		strong{ font-weight: 100; }
	}

	.social.icon{

		display: inline-block;
		width: 25px;
		height: 20px;
		margin-top: 15px;
		vertical-align: middle;

		&.facebook{

			background-position: 0 -125px;
		}

		&.twitter{

			background-position: -25px -123px;
		}

		&.vimeo{

			background-position: -50px -125px;
		}

		&.instagram{

			background-position: -75px -200px;
		}

		&.youtube{

			width: 30px;
			height: 18px;
			background-position: -75px -125px;
		}
	}
}

@media(max-width:760px){

	footer{

		.col-25{

			width: 50%;
			height: 150px;
			padding: 0 15px 0 30px;

			&:nth-child(2n+2){ padding: 0 30px 0 15px; }
		}
	}
}

@media(max-width:470px){

	footer{

		.col-25{

			width: 100%;
			height: auto;
			padding: 0 30px !important;
		}
	}
}


// ===========
//  Pages
// ===========

#home{

	color: $blue-dark;
	margin: 60px auto;

	.section-title{

		padding-left: 30px;
		margin: 0px 0 40px;

		h4{

			text-transform: uppercase;
		}

		hr{

			margin: 10px 0 0;
		}
	}

	.media-section{

		.media-entry{

			height: 200px;

			.mediaLabel{

				text-align: left;
				right: auto;
				left: 30px;

				h4,p{
					color: $white;
					margin: 4px 0;
				}
			}

			&:nth-child(4){ display: none; }
		}
	}

	.blog-section{

		.blog-entries{ 

			margin-top: -45px;

			div:nth-child(2n+2),a:nth-child(2n+2){

				margin-right: 0px;
			}
		}
	}

	.events-section{

		margin-top: 60px;

		.event-entry{

			position: relative;
			width: 100%;
			height: 330px;
			margin-right: 60px;
			overflow: hidden;
			border-radius: 4px;
			background: $blue-dark;
			float: left;

			&:hover{

				.image{ opacity: 1; }
				.preview .text{ margin-bottom: 0px; }
			}

			.image{

				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				top: 0;
				left: 0;
				opacity: 0.8;
				z-index: 1;
				transition: 0.3s all;
				-webkit-transition: 0.3s all;
			}

			.gradient{

				position: absolute;
				width: 100%;
				height: 250px;
				bottom: 0;
				left: 0;
				z-index: 2;
				background: -moz-linear-gradient(top, rgba(36,39,46,0) 0%, rgba(36,39,46,1) 60%, rgba(36,39,46,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(36,39,46,0) 0%, rgba(36,39,46,1) 60%, rgba(36,39,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(36,39,46,0) 0%, rgba(36,39,46,1) 60%, rgba(36,39,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00403a3a', endColorstr='#403a3a',GradientType=0 ); /* IE6-9 */
			}

			.preview{

				position: absolute;
				margin: 30px;
				z-index: 3;
				color: #fff;
				bottom: 0px;
				overflow: hidden;

				.text{

					margin-bottom: -60px;
					color: $white;
					transition: 0.3s all;
					-webkit-transition: 0.3s all;

					.date{

						color: $blue-light;
						font-family: Avenir-Medium;
					}

					.icon.clock{

						display: inline-block;
						background-position: -125px -25px;
						width: 20px;
						height: 20px;
						vertical-align: top;
	    				margin-right: 10px;
					}

					p{ margin: 10px 0; }

					.btn{

						min-width: 140px;
					}
				}
			}
		}
	}
}

@media(max-width: 860px){

	#home{

		.media-section .media-entry:nth-child(4){ display: block; }

		.events-section{

			.col-33{

				width: 50%;
				
			}

			.col-33:nth-child(3){ display: none; }
		}
	}
}

@media(max-width: 500px){

	#home{

		.events-section{

			.col-33{

				width: 100%;
				margin-bottom: 30px;
			}

			.col-33:nth-child(3){ display: block; }
		}
	}
}

#join-us{

	color: $blue-dark;

	.row{

		margin: 100px 0;
	}

	.connect-img-1{

		position: absolute;
		background: $blue-dark;
		width: 100%;
		width: calc(50vw - 38px);
		height: 300px;
		border-radius: 4px 0 0 4px;
		overflow: hidden;

		.image{

			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			opacity: 0.5;	
		}
	}

	.connect-img-2{

		position: absolute;
		left: 0;
		background: $blue-dark;
		width: 100%;
		width: calc(50vw - 38px);
		height: 300px;
		border-radius: 0 4px 4px 0;
		overflow: hidden;

		.image{

			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			opacity: 0.5;	
		}
	}

	.form{

		width: 600px;
		margin: 0 auto;
	}
}

@media(max-width:760px){

	#join-us{

		.col-50{

			width: 100%;
		}

		.row{

			margin: 60px -30px;
		}

		.page-description{

			text-align: left;
		}

		.connect-img-1, .connect-img-2{

			position: static;
			width: 100%;
			border-radius: 4px;
		}

		.connect-img-2{ margin-bottom: 30px; }

		.form{

			width: 100%;
		}
	}
}

#media{

	color: $blue-dark;
	overflow: auto;
}

.media-entry{

	text-align: center;
	height: 300px;
	margin-bottom: 30px;

	.thumbnail{

		position: relative;
		background: $blue-dark;
		width: 100%;
		height: 170px;
		border-radius: 4px;
		margin-bottom: 20px;
		overflow: hidden;

		.image{

			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			opacity: 0.5;
			transition: 0.3s all;
			-webkit-transition: 0.3s all;
			z-index: 1;
		}

		.icon{

			position: absolute;
			width: 30px;
			height: 30px;
			right: 15px;
			bottom: 15px;
			z-index: 3;

			&.soundCloud{

				background-position: -120px -50px;
			}
			&.youtube{

				background-position: -56px -50px;
			}
			&.vimeo{

				background-position: -88px -50px;
			}
			&.pdf{

				background-position: -120px -115px;
			}
		}

		.mediaLabel{

			display: block;
			position: absolute;
			bottom: 15px;
			right: 58px;
			z-index: 3;
			color: $white;
			margin: 0;
			text-align: right;
			font-family: Avenir-Medium;
		}

		.gradient{

			position: absolute;
			width: 100%;
			height: 80px;
			bottom: 0;
			left: 0;
			z-index: 2;
			background: -moz-linear-gradient(top,  rgba(36,39,46,0) 0%, rgba(36,39,46,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(36,39,46,0) 0%,rgba(36,39,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(36,39,46,0) 0%,rgba(36,39,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00403a3a', endColorstr='#403a3a',GradientType=0 ); /* IE6-9 */
		}

		.blue-line{

			background: $blue-light;
			position: absolute;
			width: 0px;
			height: 4px;
			bottom: 0px;
			z-index: 3;
			transition: 0.3s all;
			-webkit-transition: 0.3s all;
		}
	}

	h4{

		color: $blue-dark;
	}

	p{

		color: $blue-dark;
		margin: 10px 0;
		opacity: 0.5;
		font-size: 14px;
	}

	.tag{

		font-size: 12px;
		padding: 4px 8px;
		border-radius: 4px;
		border: 1px solid $white-border;
	}

	&:hover{

		text-decoration: none;

		.thumbnail{

			.image{ opacity: 1; }
		
			.blue-line{

				width: 100%;
			}
		}
	}
}

@media(max-width: 860px){

	.media-entry{

		width: 50%;
	}
}

@media(max-width: 500px){

	.media-entry{

		width: 100%;
		height: auto;
	}
}


#welcome{

	color: $blue-dark;

	p{ font-size: 14px; line-height: 25px; }

	.row{ margin: 90px -30px; }

	.ruler-grey{

		width: 660px;
		height: 1px;
		background: $grey-light;
		margin: 0 auto;
	}

	#map{

		position: absolute;
		background: $grey-light;
		width: 100%;
		width: calc(50vw - 38px);
		height: 500px;
	}

	.video-placeholder{

		width: 100%;
		height: auto;
	}

	.faq{

		width: 100%;
		border-radius: 4px;
		border: 1px solid $white-border;

		.question{

			.title{

				font-size: 16px;
				font-family: Avenir-Medium;
				padding: 20px;
				border-bottom: 1px solid $white-border;
				cursor: pointer;
			}

			&:last-child{ .title{ border: none; } }

			.answer{

				padding: 0 20px;
				overflow: hidden;
				height: 0px;
				transition: 0.3s all;
				-webkit-transition: 0.3s all;

				p{

					margin: 20px 0;
					overflow: hidden;
				}
			}

			&.open{

				&:last-child{ 
				
					.title{ border-bottom: 1px solid $white-border; }
				}
			}
		}
	}
}

@media(max-width: 760px){

	#welcome{

		.row{

			margin: 0 -30px;
		}

		.col-50{

			width: 100%;
			margin: 30px 0;
			float: right;
		}

		.map-container{

			position: relative;
			height: 400px;
			margin: -30px 0 30px;
			
			#map{

				width: 100%;
				height: 400px;
				margin-left: -30px;
			}
		}
	}
}

#new-here{

	color: $blue-dark;

	.row{

		margin-top: 60px;
	}

	.meet-us-snippet{

		margin-top: 30px;
	}

	.team-member{

		position: relative;
		display: block;
		overflow: auto;
		margin-top: 30px;
		padding-right: 15px;

		.photo{

			margin-right: 30px;
			float: left;
			border-radius: 4px;
		}

		h4{

			margin-top: 15px;
			color: $blue-dark;
		}

		p{

			color: $blue-dark;
			margin: 0;
			opacity: 0.5;
			font-size: 14px;
		}

		.icon.arrow{

			position: absolute;
			background-position: -75px 0;
			top: 26px;
			right: 0px;
			width: 8px;
			height: 17px;
		}
	}

	.more{

		margin-top: 30px;
	}
}

@media(max-width: 760px){

	#new-here{

		.col-66, .col-33{

			width: 100%;

		}
	}
}



#meet-us{

	color: $blue-dark;

	.team-photos{

		margin: 0 -30px;
		overflow: auto;
		font-size: 0px;

		.team-member{

			display: inline-block;
			position: relative;
			width: 33.333333%;
			padding: 0 30px;
			margin-bottom: 30px;

			.photo{

				width: 100%;
				height: auto;
				border-radius: 4px;
				margin-bottom: 10px;
			}

			.name-role{

				float: left;
				
				&.has-icons{ width: 180px; }

				h3{ font-family: Avenir-Heavy; }
				h4{ color: $blue-light; }
			}

			.social-icons{

				display: none;
				width: 125px;
				height: 40px;
				float: right;
			}

			.icon{

				display: inline-block;
				width: 35px;
				height: 35px;

				&.facebook{	background-position: 0px -150px; right: 0; }
				&.twitter{ background-position: -38px -150px; right: 50px; }
				&.email{ background-position: -75px -150px; right: 100px; }
			}
		}
	}
}

@media(max-width:1140px){

	#meet-us{

		.team-photos{

			.team-member{

				.social-icons{

					float: none;
					margin-top: 10px;
				}
			}
		}
	}
}

@media(max-width:800px){

	#meet-us{

		.team-photos{

			.team-member{

				width: 50%;
			}
		}
	}
}

@media(max-width:450px){

	#meet-us .team-photos .team-member .name-role{
		
		h3{ font-size: 20px; }
		h4{ font-size: 14px; }
	}
}

#events{

	color: $blue-dark;

	.container{ overflow: auto; }

	.page-title{

		text-align: center;
		margin: 70px 0 -60px;
	}

	.event-entry{

		position: relative;
		background: $white;
		width: 100%;
		min-height: 380px;
		border-radius: 4px;
		margin-bottom: 30px;
		overflow: hidden;

		.image{

			position: absolute;
			background-size: cover;
			background-position: center;
			width: 320px;
			height: 380px;
			z-index: 2;
		}

		.text{

			margin-top: 30px;
			padding: 0 30px 0 360px;
			max-height: 270px;
			overflow: hidden;

			h2{

				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				a{ color: $blue-dark; }
			}
			p{ margin: 15px 0; }
		}

		.info-bar{

			position: absolute;
			width: 100%;
			height: 55px;
			padding-left: 360px;
			border-top: 1px solid $white-border;
			bottom: 0;
			z-index: 1;

			div,p,a{ float: left; }

			p{

				margin: 18px;
				font-size: 14px;
			}

			.icon.calendar{

				width: 30px;
				height: 25px;
				margin-top: 14px;
				background-position: -50px -25px;
			}

			.icon.clock{

				width: 25px;
				height: 25px;
				margin-top: 14px;
				margin-left: 30px;
				background-position: 0px -25px;
			}

			.btn{

				position: absolute;
				min-width: 120px;
				height: 40px;
				padding: 10px;
				top: 8px;
				font-size: 14px;
				right: 15px;
			}
		}
	}
}

@media(max-width: 860px){

	#events{

		.container{

			padding: 0 15px;
		}

		.event-entry{

			min-height: auto;

			.image{

				position: static;
				width: 100%;
				height: 200px;
			}

			.text{

				padding: 0 30px;
				max-height: none;
				margin-bottom: 15px;

				p{

					max-height: 68px;
					overflow: hidden;
				}

				h2{ white-space: normal; }
			}

			.info-bar{

				position: relative;
				padding-left: 30px;
			}
		}
	}
}

@media(max-width: 550px){

	#events .event-entry{

		.info-bar{

			height: auto;
			overflow: auto;
			padding: 15px 30px;

			.icon.clock{

				clear: left;
				margin-left: 0px;
			}

			.btn{

				clear: both;
				position: static;
				margin-bottom: 15px;
			}
		}
	}
}

#event-entry{

	color: $blue-dark;

	.container{

		max-width: 800px;
		margin: 60px auto;
	}

	.title-image{

		width: 100%;
		height: 300px;
		background-position: center;
		background-size: cover;
		border-radius: 4px;
	}

	.calendar{

		margin: 10px 10px 0 30px;
		
		.icon{

			display: inline-block;
			width: 30px;
			height: 25px;
			background-position: -50px -25px;
			vertical-align: bottom;
			margin-right: 10px;
		}
	}

	.clock{

		margin: 10px 10px 0 30px;
	
		.icon{

			display: inline-block;
			width: 25px;
			height: 25px;
			background-position: 0px -25px;
			vertical-align: bottom;
			margin-right: 10px;
		}
	}
}

@media(max-width: 750px){

	#event-entry{

		.blue,.calendar,.clock{

			display: block;
			margin: 0 0 30px 0;
		}
	}
}


#connect{

	color: $blue-dark;

	.connect-entry{

		text-align: center;
		min-height: 500px;

		img{

			max-width: 320px;
			width: 100%;
			height: auto;
		}

		hr{

			background: $white-border;
			margin: 0 auto;
			width: 190px;
			height: 1px;
			margin-top: 10px;
		}

		p{

			margin: 25px 0 0;
			opacity: 0.6;
		}
	}
}

@media(max-width:860px){

	#connect .connect-entry{ width: 50%; }
}

@media(max-width:580px){

	#connect .connect-entry{

		width: 100%;
		min-height: auto;
		margin-bottom: 60px;
	}
}

#blog-page{

	overflow: auto;
}

.blog-entry{

	position: relative;
	display: block;
	background: $blue-dark;
	width: 100%;
	height: 330px;
	float: left;
	margin-right: 60px;
	margin-top: 45px;
	overflow: hidden;
	border-radius: 4px;

	&.first{ 

		.preview h3{ font-size: 30px; }
	}

	.preview{

		position: absolute;
		margin: 30px;
		z-index: 3;
		color: $white;
		bottom: 0px;
		overflow: hidden;

		.category-tag{

			background: $blue-dark;
			display: inline-block;
			font-family: Avenir-Heavy;
			padding: 7px 12px;
			border-radius: 2px;
			color: $white;
			font-size: 14px;
			margin-bottom: 15px;
			text-transform: capitalize;

			&.blog{ background: $green; }
			&.vlog{ background: $blue-light; }
			&.news{ background: $red; }
		}

		a{ color: $white; }

		h3{ font-family: Avenir-Heavy; }

		p{

			margin: 15px 0 0 0;
			max-height: 66px;
		}

		button{

			min-width: 150px;
			margin-top: 15px;
			color: $white;
			opacity: 0;
			transition: 0.6s all;
			-webkit-transition: 0.6s all;

			&:hover{ color: $blue-dark; }
		}

		.text-box{

			margin-bottom: -65px;
			transition: 0.3s all;
			-webkit-transition: 0.3s all;
		}
	}

	.gradient{

		position: absolute;
		width: 100%;
		height: 250px;
		left: 0;
		bottom: 0;
		z-index: 2;
		background: -moz-linear-gradient(top, rgba(36,39,46,0) 0%, rgba(36,39,46,1) 80%, rgba(36,39,46,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(36,39,46,0) 0%, rgba(36,39,46,1) 80%, rgba(36,39,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(36,39,46,0) 0%, rgba(36,39,46,1) 80%, rgba(36,39,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00403a3a', endColorstr='#403a3a',GradientType=0 ); /* IE6-9 */
	}

	.image{

		position: absolute;
		z-index: 1;
		opacity: 0.8;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
	}

	&:hover{

		.text-box{

			margin-bottom: 0px;

			button{ opacity: 1; }
		}

		.image{

			opacity: 1;
		}
	}
}

.phrase-box{

	position: relative;
	background: $blue-light;
	width: 100%;
	height: 330px;
	float: left;
	margin-right: 60px;
	margin-top: 45px;
	overflow: hidden;
	border-radius: 4px;
	color: $white;
	padding: 30px;

	h2{

		width: 100%;
		height: 100%;
		font-size: 36px;
		font-family: Avenir-Light;
		font-style: italic;
	}

	.slick-dots{

		position: absolute;
		bottom: 30px;

		li{
			display: inline-block;
			width: 6px;
			height: 6px;
			background: $white;
			border-radius: 100%;
			margin-right: 8px;
			opacity: 0.5;

			&.slick-active{ opacity: 1; }
		}
		button{ display: none; }
	}
}

@media(max-width:1140px){

	.phrase-box{

		h2{

			font-size: 20px;
		}
	}
}

@media(max-width:860px){

	#blog-page, .blog-entries{

		.blog-entry.first .preview h3{

			font-size: 24px;
		}

		.col-66, .col-50{

			width: 100%;
		}

		.col-33{

			display: none;
		}
	}
}



#blog-entry{

	width: 100%;
	max-width: 760px;
	padding: 0 30px;
	margin: 60px auto;
	color: $blue-dark;

	.title-image{

		background-size: cover;
		background-position: center;
		border-radius: 4px;
		width: 100%;
		height: 280px;
	}

	.video{

		margin-bottom: 30px;

		iframe{ 
			display: block;
			margin: 0 auto; 
		}
	}

	.tags{

		.tag{

			padding: 4px 8px;
			border: 1px solid $white-border;
			border-radius: 4px;
			font-size: 14px;
			margin-left: 10px;
		}
	}

	.entry-footer{

		overflow: auto;
	}

	.share-blog{

		width: 50%;
		float: left;
		padding-right: 30px;

		p{ margin: 0px 0 15px; }

		.icon{

			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 5px;

			&.facebook{ background-position: -56px -82px; width: 31px; }
			&.twitter{ background-position: -88px -82px; }
			&.google{ background-position: -120px -82px; }
		}
	}

	.author{

		width: 50%;
		float: left;
		padding-left: 30px;
		text-align: right;

		.author-photo{

			border-radius: 100%;
			border: 3px solid $blue-light;
		}

		p{ 
			margin: 10px 0; 
			font-size: 14px;
		}
	}

	hr{

		background: $white-border;
		width: 440px;
		height: 1px;
		margin: 30px auto;
	}
}

.more-articles-header{

	background: $grey-light;
	text-align: center;
	padding: 30px 0;
	color: $blue-dark;
	font-family: Avenir-Medium;

	h4{

		color: $blue-light;
	}
}

.more-articles{

	margin: 60px auto 0;
	overflow: auto;

	.more-entry{

		color: $blue-dark;

		.image{

			position: relative;
			width: 100%;
			height: 180px;
			background-position: center;
			background-size: cover;
			border-radius: 4px;
			margin-bottom: 15px;

			.category-tag{

				position: absolute;
				left: 15px;
				bottom: 15px;
				background: $blue-dark;
				display: inline-block;
				font-family: Avenir-Heavy;
				padding: 7px 12px;
				border-radius: 2px;
				color: $white;
				font-size: 14px;
				text-transform: capitalize;

				&.blog{ background: $green; }
				&.vlog{ background: $blue-light; }
				&.news{ background: $red; }
			}
		}

		p{

			margin: 15px 0;
		}
	}
}

@media(max-width:860px){

	.more-articles{

		.more-entry{

			width: 50%;
		}

		.more-entry:nth-child(3){ display: none; }
	}
}


@media(max-width:500px){

	#blog-entry{

		.share-blog{

			width: 100%;
			text-align: center;
			padding: 0;
			margin-bottom: 30px;
		}

		.author{

			width: 100%;
			text-align: center;
			padding: 0;
		}
	}

	.more-articles, .more-articles-header{ display: none; }
}


#contact{

	color: $blue-dark;
	margin-bottom: -120px;
	overflow: auto;

	.col-50{ max-width: 550px; padding: 30px 60px 0; }

	#map{

		width: 50%;
		height: 890px;
		float: left;
	}

	.form{

		margin-top: 30px;
	}
}


@media(max-width:850px){

	#contact{

		margin-bottom: 0px;

		#map{

			width: 100%;
			height: 400px;
		}

		.col-50{

			max-width: none;
			width: 100%;
			padding: 0 30px;
		}
	}

}



