{#
 #  Thanks
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Thanks'%}

{% block content %}
	
	<section id="thanks" class="container">

		<p class="page-description">

			{% if mailchimpSubscribe is defined %}
				{% if (not mailchimpSubscribe.success) and (mailchimpSubscribe.errorCode!='1000') %}
					<p>An error occured. Please try again.</p>
				{% endif %}
			{% endif %}

			Thankyou, you've successfully been subscribed to our newsletter
			<br> <br>
			<a class="btn btn-blue" href="/"> Back to Homepage </a>

		</p>

	</section>


{% endblock %}