* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100; }

*:focus {
  outline: none; }

a img {
  border: none; }

/* Z indexes

	
*/
.blue {
  color: #00c0f3; }

@font-face {
  font-family: Avenir-Medium;
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: Avenir-Book;
  src: url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: Avenir-Light;
  src: url("../fonts/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: Avenir-Heavy;
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: normal; }
h1 {
  font-size: 44px;
  color: #fff;
  text-align: center;
  font-family: Avenir-Book;
  margin-bottom: 5px;
  font-weight: 100; }

h2 {
  font-size: 30px;
  font-weight: 100;
  font-family: Avenir-Heavy; }

h3 {
  font-size: 24px;
  font-weight: 100;
  font-family: Avenir-Medium; }

h4 {
  font-size: 18px;
  font-weight: 100;
  font-family: Avenir-Medium; }

p {
  font-family: Avenir-Book;
  font-size: 16px;
  opacity: 0.8;
  margin: 30px 0; }
  p.small {
    font-size: 14px; }
  p a {
    color: #00a0f3; }

blockquote {
  font-size: 16px;
  font-family: Avenir-Medium;
  font-style: italic;
  padding: 30px;
  border-left: 2px solid #00c0f3;
  opacity: 0.8; }

input, label, textarea {
  font-family: Avenir-Book;
  font-size: 16px;
  opacity: 0.8; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  overflow-x: hidden; }
  body.noscroll {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed; }

.page {
  background: #fff;
  position: relative; }
  .page.grey {
    background: #f4f5f7; }

.icon {
  background: url(../img/icons.png);
  background-size: 150px; }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  left: 0;
  right: 0; }

.row {
  overflow: auto;
  margin: 0 -30px; }

.col-50 {
  width: 50%;
  padding: 0 30px;
  float: left;
  min-height: 1px; }

.col-66 {
  width: 66.666666%;
  padding: 0 30px;
  float: left;
  min-height: 1px; }

.col-33 {
  width: 33.333333%;
  padding: 0 30px;
  float: left;
  min-height: 1px; }

.col-25 {
  width: 25%;
  padding: 0 30px;
  float: left;
  min-height: 1px; }

hr {
  max-width: 100px;
  height: 2px;
  background: #00c0f3;
  border: none;
  margin: 20px 0; }

.ruler {
  width: 231px;
  margin: 0 auto; }
  .ruler .line {
    width: 100px;
    margin: 3px 0;
    background: #fff;
    height: 1px;
    float: left; }
  .ruler .dot {
    background: #00c0f3;
    width: 7px;
    height: 7px;
    margin: 0 12px;
    border-radius: 100%;
    float: left; }

.form label {
  display: block;
  margin-bottom: 5px; }
.form .input-group {
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e5;
  padding: 12px 12px 12px 75px;
  margin-bottom: 20px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all; }
  .form .input-group input {
    background: none;
    border: none;
    width: 100%; }
  .form .input-group textarea {
    border: none;
    width: 100%; }
  .form .input-group select {
    -webkit-appearance: none;
    width: 100%;
    background: none;
    font-family: Avenir-Book;
    font-size: 16px;
    border: none;
    color: #424753; }
  .form .input-group .vr {
    position: absolute;
    background: #e0e0e5;
    width: 1px;
    height: 28px;
    top: 10px;
    left: 55px; }
  .form .input-group.error {
    border: 1px solid #d54b4b;
    box-shadow: 0 2px 5px rgba(223, 31, 60, 0.14); }
    .form .input-group.error .error-text {
      display: block; }
  .form .input-group .error-text {
    display: none;
    position: absolute;
    right: 0;
    bottom: -25px;
    color: #d54b4b;
    font-family: Avenir-Book;
    font-size: 14px; }
  .form .input-group .icon {
    position: absolute; }
    .form .input-group .icon.user {
      background-position: 0 0;
      width: 16px;
      height: 16px;
      top: 15px;
      left: 20px; }
    .form .input-group .icon.email {
      background-position: -100px 0;
      width: 26px;
      height: 16px;
      top: 15px;
      left: 15px; }
    .form .input-group .icon.message {
      background-position: -25px 0;
      width: 20px;
      height: 20px;
      top: 15px;
      left: 18px; }
    .form .input-group .icon.tel {
      background-position: 0 -200px;
      width: 20px;
      height: 20px;
      top: 15px;
      left: 18px; }
    .form .input-group .icon.address {
      background-position: -25px -200px;
      width: 12px;
      height: 20px;
      top: 15px;
      left: 22px; }
    .form .input-group .icon.postcode {
      background-position: -50px -200px;
      width: 20px;
      height: 20px;
      top: 15px;
      left: 18px; }
.form .checkbox-group {
  margin-bottom: 20px; }
  .form .checkbox-group input {
    margin-right: 5px; }
  .form .checkbox-group label {
    display: inline-block; }

.tabs {
  text-align: center;
  margin: 50px 0;
  font-size: 0px; }
  .tabs .tab {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-family: Avenir-Book;
    padding: 20px 70px;
    border-right: 1px solid #e0e0e5;
    cursor: pointer; }
    .tabs .tab:last-child {
      border: none; }
    .tabs .tab .blue-line {
      background: #00c0f3;
      width: 0px;
      height: 2px;
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
    .tabs .tab:hover .blue-line, .tabs .tab.active .blue-line {
      width: 100px; }

.tab-group {
  display: none; }
  .tab-group.open {
    display: block; }

@media (max-width: 740px) {
  .tabs .tab {
    width: 33.33333%;
    font-size: 18px;
    padding: 20px 0px;
    text-align: center; } }
@media (max-width: 400px) {
  .tabs {
    margin: 15px -30px 70px; }
    .tabs .tab {
      width: 33.33333%;
      font-size: 14px;
      padding: 20px 0px;
      border: none; } }
.filters {
  margin-bottom: 40px; }
  .filters .btn {
    min-width: auto;
    padding: 14px 24px;
    margin: 15px 20px 15px 0; }
    .filters .btn.active {
      background: #00c0f3;
      color: #fff;
      border: none; }
  .filters .icon.close {
    display: inline-block;
    background-position: -100px -25px;
    width: 25px;
    height: 25px;
    margin-bottom: -6px;
    opacity: 0.5;
    transition: 0.3s all;
    -webkit-transition: 0.3s all; }
    .filters .icon.close:hover {
      opacity: 1; }

@media (max-width: 500px) {
  .filters .btn.btn-grey-clear {
    padding: 15px;
    margin: 15px 6px 15px 0;
    font-size: 14px; } }
.btn {
  display: inline-block;
  height: 50px;
  font-family: Avenir-Medium;
  font-size: 16px;
  border-radius: 4px;
  min-width: 220px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.3s all;
  -webkit-transition: 0.3s all; }
  .btn:hover {
    text-decoration: none; }
  .btn.btn-blue {
    background: #00c0f3;
    color: #fff; }
  .btn.btn-blue-clear {
    background: none;
    color: #00c0f3;
    border: 1px solid #00c0f3;
    padding: 13px 30px; }
    .btn.btn-blue-clear:hover {
      background: #00c0f3;
      color: #fff; }
  .btn.btn-grey-clear {
    background: none;
    color: #72767e;
    border: 1px solid #e2e3e6;
    padding: 13px 30px; }
    .btn.btn-grey-clear:hover {
      background: #e2e3e6;
      color: #72767e; }
  .btn.btn-white-clear {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 13px 30px; }
    .btn.btn-white-clear:hover {
      background: #fff;
      color: #424753; }

.page-description {
  max-width: 680px;
  margin: 80px auto;
  width: 100%;
  text-align: center; }

.paginate {
  width: 100%;
  text-align: center;
  margin-top: 60px; }
  .paginate .btn:first-child {
    margin-right: 15px; }

@media (max-width: 600px) {
  .paginate .btn {
    max-width: 220px;
    display: block;
    margin: 0 auto 15px !important; } }
#map-overlay {
  position: relative;
  font-size: 20px;
  background: #fff;
  border-radius: 4px;
  width: 310px;
  height: 160px;
  padding: 25px 30px;
  color: #424753;
  margin-top: -160px; }
  #map-overlay .icon.marker {
    background-position: -50px 0;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    float: left; }
  #map-overlay .arrow {
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto; }
  #map-overlay p {
    width: 200px;
    padding-left: 10px;
    margin: 10px 0;
    float: left; }

header {
  position: relative;
  background: #424753;
  width: 100%;
  border-bottom: 10px solid #f4f5f7;
  overflow: auto; }
  header .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/header-landscape.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1; }
  header .top-fade {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.3;
    background: -moz-linear-gradient(top, #24272e 0%, rgba(36, 39, 46, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #24272e 0%, rgba(36, 39, 46, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #24272e 0%, rgba(36, 39, 46, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403a3a', endColorstr='#00403a3a',GradientType=0 );
    /* IE6-9 */ }
  header nav {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 4;
    transition: none;
    -webkit-transition: none; }
    header nav.detach {
      position: fixed;
      background: rgba(36, 37, 40, 0.95);
      opacity: 0;
      transform: translate(0, -100%);
      -webkit-transform: translate(0, -100%); }
    header nav.animate {
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
    header nav.fixed {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      opacity: 1; }
    header nav .logo {
      background-position: 0 -50px;
      width: 53px;
      height: 53px;
      margin-top: 25px;
      float: left; }
    header nav .links {
      float: right; }
      header nav .links .link {
        position: relative;
        display: inline-block;
        color: #fff;
        font-family: Avenir-Light;
        padding: 40px 20px 40px; }
        header nav .links .link.active {
          border-top: 5px solid #00c0f3;
          color: #00c0f3;
          font-family: Avenir-Medium; }
        header nav .links .link:hover {
          text-decoration: none;
          color: #00c0f3; }
          header nav .links .link:hover .dropdown:not(.no-hover) {
            height: auto; }
      header nav .links .dropdown {
        background: rgba(36, 37, 40, 0.9);
        position: absolute;
        top: 80px;
        left: -18px;
        width: 150px;
        overflow: hidden;
        height: 0px;
        transition: 0.3s all;
        -webkit-transition: 0.3s all; }
        header nav .links .dropdown.open {
          height: auto; }
        header nav .links .dropdown .link {
          display: block;
          width: 100%;
          text-align: center;
          margin: 30px 0;
          padding: 0; }
  header .central-text {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 180px auto;
    padding: 0 30px;
    z-index: 3;
    text-align: center; }
    header .central-text p {
      color: #fff; }
  header .lower-text {
    position: absolute;
    background: rgba(36, 37, 40, 0.5);
    width: 100%;
    height: 130px;
    bottom: 0;
    z-index: 3;
    color: #fff; }
    header .lower-text .service-times {
      float: left;
      padding: 20px 0; }
      header .lower-text .service-times p {
        margin: 5px 0 0; }
    header .lower-text .cta-btns {
      float: right; }
      header .lower-text .cta-btns .btn {
        min-width: 140px;
        margin: 43px 0 0 20px; }
  header.collapse .lower-text, header.collapse .central-text p, header.collapse .central-text .btn {
    display: none; }
  header.collapse .bg-img {
    opacity: 0.2; }

nav.mobile-nav {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  pointer-events: none; }
  nav.mobile-nav .hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 7;
    pointer-events: auto; }
    nav.mobile-nav .hamburger .filling {
      background: #fff;
      width: 100%;
      height: 2px;
      margin-bottom: 8px;
      transition: 0.3s all; }
  nav.mobile-nav .links {
    width: 260px;
    height: 100vh;
    pointer-events: auto;
    position: absolute;
    top: 0;
    right: -260px;
    background: rgba(36, 37, 40, 0.9);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 6;
    padding: 50px 0 80px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    visibility: hidden;
    opacity: 0; }
    nav.mobile-nav .links .link {
      position: relative;
      display: block;
      color: #fff;
      text-align: left;
      margin: 0 auto;
      padding: 15px 30px;
      font-family: Avenir-Medium;
      font-size: 18px; }
      nav.mobile-nav .links .link.active:before {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        position: absolute;
        background: #00c0f3;
        bottom: 5px; }
    nav.mobile-nav .links .col-50:first-child {
      border-right: 1px solid #e0e0e5; }

.nav-open nav.mobile-nav {
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.3); }
  .nav-open nav.mobile-nav .hamburger .f1 {
    transform: translate(0px, 12px) rotate(-135deg);
    -webkit-transform: translate(0px, 12px) rotate(-135deg); }
  .nav-open nav.mobile-nav .hamburger .f2 {
    opacity: 0; }
  .nav-open nav.mobile-nav .hamburger .f3 {
    transform: translate(0, -8px) rotate(135deg);
    -webkit-transform: translate(0, -8px) rotate(135deg); }
  .nav-open nav.mobile-nav .links {
    visibility: visible;
    opacity: 1;
    right: 0px; }

@media (max-width: 870px) {
  header nav.detach {
    display: none; }
  header nav .links {
    display: none; }
  header .central-text h1 {
    font-size: 38px; }
  header.collapse .central-text {
    margin: 120px auto; }
  header .lower-text {
    height: auto; }
    header .lower-text .cta-btns {
      display: none; }

  nav.mobile-nav {
    display: block; } }
.newsletter {
  position: relative;
  background: #f4f5f7;
  padding: 60px 0;
  margin-top: 120px;
  text-align: center;
  color: #424753; }
  .newsletter .form {
    margin-top: 30px; }
    .newsletter .form .input-group {
      display: inline-block;
      width: 250px;
      height: 50px;
      vertical-align: top;
      margin-right: 30px; }
  .newsletter .newsletter-error-text {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center;
    color: #d54b4b;
    margin: 0;
    font-family: Avenir-Medium;
    display: none; }
  .newsletter .associates-carousel {
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    font-size: 0px; }
  .newsletter .associate-logo {
    position: relative;
    margin-right: 40px;
    display: inline-block !important;
    float: none !important;
    vertical-align: middle; }
    .newsletter .associate-logo img {
      vertical-align: middle; }
  .newsletter .slick-prev, .newsletter .slick-next {
    position: absolute;
    background: url(../img/arrows.png);
    background-size: auto 80px;
    width: 46px;
    height: 80px;
    top: 0;
    border: none;
    text-indent: 99999px;
    opacity: 0.4;
    cursor: pointer; }
    .newsletter .slick-prev:hover, .newsletter .slick-next:hover {
      opacity: 0.8; }
  .newsletter .slick-prev {
    left: -80px; }
  .newsletter .slick-next {
    background-position: -45px 0;
    right: -80px; }
  .newsletter hr {
    margin: 60px auto 60px;
    max-width: 600px;
    background: #e0e0e5;
    height: 1px; }

@media (max-width: 900px) {
  .newsletter button.slick-next.slick-arrow, .newsletter button.slick-prev.slick-arrow {
    display: none; } }
@media (max-width: 850px) {
  .newsletter {
    margin-top: 60px; }
    .newsletter .form {
      padding: 0 30px; }
      .newsletter .form .input-group {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 30px auto; }
      .newsletter .form .btn {
        width: 100%;
        max-width: 600px; } }
footer {
  background: #424753;
  overflow: auto;
  padding: 40px 0;
  color: #fff; }
  footer .container {
    padding: 0; }
  footer .logo {
    background-position: 0 -50px;
    width: 53px;
    height: 53px; }
  footer p {
    font-size: 14px;
    margin: 15px 0; }
    footer p a {
      color: #fff; }
    footer p strong {
      font-weight: 100; }
  footer .social.icon {
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-top: 15px;
    vertical-align: middle; }
    footer .social.icon.facebook {
      background-position: 0 -125px; }
    footer .social.icon.twitter {
      background-position: -25px -123px; }
    footer .social.icon.vimeo {
      background-position: -50px -125px; }
    footer .social.icon.instagram {
      background-position: -75px -200px; }
    footer .social.icon.youtube {
      width: 30px;
      height: 18px;
      background-position: -75px -125px; }

@media (max-width: 760px) {
  footer .col-25 {
    width: 50%;
    height: 150px;
    padding: 0 15px 0 30px; }
    footer .col-25:nth-child(2n+2) {
      padding: 0 30px 0 15px; } }
@media (max-width: 470px) {
  footer .col-25 {
    width: 100%;
    height: auto;
    padding: 0 30px !important; } }
#home {
  color: #424753;
  margin: 60px auto; }
  #home .section-title {
    padding-left: 30px;
    margin: 0px 0 40px; }
    #home .section-title h4 {
      text-transform: uppercase; }
    #home .section-title hr {
      margin: 10px 0 0; }
  #home .media-section .media-entry {
    height: 200px; }
    #home .media-section .media-entry .mediaLabel {
      text-align: left;
      right: auto;
      left: 30px; }
      #home .media-section .media-entry .mediaLabel h4, #home .media-section .media-entry .mediaLabel p {
        color: #fff;
        margin: 4px 0; }
    #home .media-section .media-entry:nth-child(4) {
      display: none; }
  #home .blog-section .blog-entries {
    margin-top: -45px; }
    #home .blog-section .blog-entries div:nth-child(2n+2), #home .blog-section .blog-entries a:nth-child(2n+2) {
      margin-right: 0px; }
  #home .events-section {
    margin-top: 60px; }
    #home .events-section .event-entry {
      position: relative;
      width: 100%;
      height: 330px;
      margin-right: 60px;
      overflow: hidden;
      border-radius: 4px;
      background: #424753;
      float: left; }
      #home .events-section .event-entry:hover .image {
        opacity: 1; }
      #home .events-section .event-entry:hover .preview .text {
        margin-bottom: 0px; }
      #home .events-section .event-entry .image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: 1;
        transition: 0.3s all;
        -webkit-transition: 0.3s all; }
      #home .events-section .event-entry .gradient {
        position: absolute;
        width: 100%;
        height: 250px;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: -moz-linear-gradient(top, rgba(36, 39, 46, 0) 0%, #24272e 60%, #24272e 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(36, 39, 46, 0) 0%, #24272e 60%, #24272e 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(36, 39, 46, 0) 0%, #24272e 60%, #24272e 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00403a3a', endColorstr='#403a3a',GradientType=0 );
        /* IE6-9 */ }
      #home .events-section .event-entry .preview {
        position: absolute;
        margin: 30px;
        z-index: 3;
        color: #fff;
        bottom: 0px;
        overflow: hidden; }
        #home .events-section .event-entry .preview .text {
          margin-bottom: -60px;
          color: #fff;
          transition: 0.3s all;
          -webkit-transition: 0.3s all; }
          #home .events-section .event-entry .preview .text .date {
            color: #00c0f3;
            font-family: Avenir-Medium; }
          #home .events-section .event-entry .preview .text .icon.clock {
            display: inline-block;
            background-position: -125px -25px;
            width: 20px;
            height: 20px;
            vertical-align: top;
            margin-right: 10px; }
          #home .events-section .event-entry .preview .text p {
            margin: 10px 0; }
          #home .events-section .event-entry .preview .text .btn {
            min-width: 140px; }

@media (max-width: 860px) {
  #home .media-section .media-entry:nth-child(4) {
    display: block; }
  #home .events-section .col-33 {
    width: 50%; }
  #home .events-section .col-33:nth-child(3) {
    display: none; } }
@media (max-width: 500px) {
  #home .events-section .col-33 {
    width: 100%;
    margin-bottom: 30px; }
  #home .events-section .col-33:nth-child(3) {
    display: block; } }
#join-us {
  color: #424753; }
  #join-us .row {
    margin: 100px 0; }
  #join-us .connect-img-1 {
    position: absolute;
    background: #424753;
    width: 100%;
    width: calc(50vw - 38px);
    height: 300px;
    border-radius: 4px 0 0 4px;
    overflow: hidden; }
    #join-us .connect-img-1 .image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      opacity: 0.5; }
  #join-us .connect-img-2 {
    position: absolute;
    left: 0;
    background: #424753;
    width: 100%;
    width: calc(50vw - 38px);
    height: 300px;
    border-radius: 0 4px 4px 0;
    overflow: hidden; }
    #join-us .connect-img-2 .image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      opacity: 0.5; }
  #join-us .form {
    width: 600px;
    margin: 0 auto; }

@media (max-width: 760px) {
  #join-us .col-50 {
    width: 100%; }
  #join-us .row {
    margin: 60px -30px; }
  #join-us .page-description {
    text-align: left; }
  #join-us .connect-img-1, #join-us .connect-img-2 {
    position: static;
    width: 100%;
    border-radius: 4px; }
  #join-us .connect-img-2 {
    margin-bottom: 30px; }
  #join-us .form {
    width: 100%; } }
#media {
  color: #424753;
  overflow: auto; }

.media-entry {
  text-align: center;
  height: 300px;
  margin-bottom: 30px; }
  .media-entry .thumbnail {
    position: relative;
    background: #424753;
    width: 100%;
    height: 170px;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden; }
    .media-entry .thumbnail .image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0.5;
      transition: 0.3s all;
      -webkit-transition: 0.3s all;
      z-index: 1; }
    .media-entry .thumbnail .icon {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 15px;
      bottom: 15px;
      z-index: 3; }
      .media-entry .thumbnail .icon.soundCloud {
        background-position: -120px -50px; }
      .media-entry .thumbnail .icon.youtube {
        background-position: -56px -50px; }
      .media-entry .thumbnail .icon.vimeo {
        background-position: -88px -50px; }
      .media-entry .thumbnail .icon.pdf {
        background-position: -120px -115px; }
    .media-entry .thumbnail .mediaLabel {
      display: block;
      position: absolute;
      bottom: 15px;
      right: 58px;
      z-index: 3;
      color: #fff;
      margin: 0;
      text-align: right;
      font-family: Avenir-Medium; }
    .media-entry .thumbnail .gradient {
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: -moz-linear-gradient(top, rgba(36, 39, 46, 0) 0%, #24272e 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(36, 39, 46, 0) 0%, #24272e 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(36, 39, 46, 0) 0%, #24272e 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00403a3a', endColorstr='#403a3a',GradientType=0 );
      /* IE6-9 */ }
    .media-entry .thumbnail .blue-line {
      background: #00c0f3;
      position: absolute;
      width: 0px;
      height: 4px;
      bottom: 0px;
      z-index: 3;
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
  .media-entry h4 {
    color: #424753; }
  .media-entry p {
    color: #424753;
    margin: 10px 0;
    opacity: 0.5;
    font-size: 14px; }
  .media-entry .tag {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #e0e0e5; }
  .media-entry:hover {
    text-decoration: none; }
    .media-entry:hover .thumbnail .image {
      opacity: 1; }
    .media-entry:hover .thumbnail .blue-line {
      width: 100%; }

@media (max-width: 860px) {
  .media-entry {
    width: 50%; } }
@media (max-width: 500px) {
  .media-entry {
    width: 100%;
    height: auto; } }
#welcome {
  color: #424753; }
  #welcome p {
    font-size: 14px;
    line-height: 25px; }
  #welcome .row {
    margin: 90px -30px; }
  #welcome .ruler-grey {
    width: 660px;
    height: 1px;
    background: #f4f5f7;
    margin: 0 auto; }
  #welcome #map {
    position: absolute;
    background: #f4f5f7;
    width: 100%;
    width: calc(50vw - 38px);
    height: 500px; }
  #welcome .video-placeholder {
    width: 100%;
    height: auto; }
  #welcome .faq {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e0e0e5; }
    #welcome .faq .question .title {
      font-size: 16px;
      font-family: Avenir-Medium;
      padding: 20px;
      border-bottom: 1px solid #e0e0e5;
      cursor: pointer; }
    #welcome .faq .question:last-child .title {
      border: none; }
    #welcome .faq .question .answer {
      padding: 0 20px;
      overflow: hidden;
      height: 0px;
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
      #welcome .faq .question .answer p {
        margin: 20px 0;
        overflow: hidden; }
    #welcome .faq .question.open:last-child .title {
      border-bottom: 1px solid #e0e0e5; }

@media (max-width: 760px) {
  #welcome .row {
    margin: 0 -30px; }
  #welcome .col-50 {
    width: 100%;
    margin: 30px 0;
    float: right; }
  #welcome .map-container {
    position: relative;
    height: 400px;
    margin: -30px 0 30px; }
    #welcome .map-container #map {
      width: 100%;
      height: 400px;
      margin-left: -30px; } }
#new-here {
  color: #424753; }
  #new-here .row {
    margin-top: 60px; }
  #new-here .meet-us-snippet {
    margin-top: 30px; }
  #new-here .team-member {
    position: relative;
    display: block;
    overflow: auto;
    margin-top: 30px;
    padding-right: 15px; }
    #new-here .team-member .photo {
      margin-right: 30px;
      float: left;
      border-radius: 4px; }
    #new-here .team-member h4 {
      margin-top: 15px;
      color: #424753; }
    #new-here .team-member p {
      color: #424753;
      margin: 0;
      opacity: 0.5;
      font-size: 14px; }
    #new-here .team-member .icon.arrow {
      position: absolute;
      background-position: -75px 0;
      top: 26px;
      right: 0px;
      width: 8px;
      height: 17px; }
  #new-here .more {
    margin-top: 30px; }

@media (max-width: 760px) {
  #new-here .col-66, #new-here .col-33 {
    width: 100%; } }
#meet-us {
  color: #424753; }
  #meet-us .team-photos {
    margin: 0 -30px;
    overflow: auto;
    font-size: 0px; }
    #meet-us .team-photos .team-member {
      display: inline-block;
      position: relative;
      width: 33.333333%;
      padding: 0 30px;
      margin-bottom: 30px; }
      #meet-us .team-photos .team-member .photo {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 10px; }
      #meet-us .team-photos .team-member .name-role {
        float: left; }
        #meet-us .team-photos .team-member .name-role.has-icons {
          width: 180px; }
        #meet-us .team-photos .team-member .name-role h3 {
          font-family: Avenir-Heavy; }
        #meet-us .team-photos .team-member .name-role h4 {
          color: #00c0f3; }
      #meet-us .team-photos .team-member .social-icons {
        display: none;
        width: 125px;
        height: 40px;
        float: right; }
      #meet-us .team-photos .team-member .icon {
        display: inline-block;
        width: 35px;
        height: 35px; }
        #meet-us .team-photos .team-member .icon.facebook {
          background-position: 0px -150px;
          right: 0; }
        #meet-us .team-photos .team-member .icon.twitter {
          background-position: -38px -150px;
          right: 50px; }
        #meet-us .team-photos .team-member .icon.email {
          background-position: -75px -150px;
          right: 100px; }

@media (max-width: 1140px) {
  #meet-us .team-photos .team-member .social-icons {
    float: none;
    margin-top: 10px; } }
@media (max-width: 800px) {
  #meet-us .team-photos .team-member {
    width: 50%; } }
@media (max-width: 450px) {
  #meet-us .team-photos .team-member .name-role h3 {
    font-size: 20px; }
  #meet-us .team-photos .team-member .name-role h4 {
    font-size: 14px; } }
#events {
  color: #424753; }
  #events .container {
    overflow: auto; }
  #events .page-title {
    text-align: center;
    margin: 70px 0 -60px; }
  #events .event-entry {
    position: relative;
    background: #fff;
    width: 100%;
    min-height: 380px;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden; }
    #events .event-entry .image {
      position: absolute;
      background-size: cover;
      background-position: center;
      width: 320px;
      height: 380px;
      z-index: 2; }
    #events .event-entry .text {
      margin-top: 30px;
      padding: 0 30px 0 360px;
      max-height: 270px;
      overflow: hidden; }
      #events .event-entry .text h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
        #events .event-entry .text h2 a {
          color: #424753; }
      #events .event-entry .text p {
        margin: 15px 0; }
    #events .event-entry .info-bar {
      position: absolute;
      width: 100%;
      height: 55px;
      padding-left: 360px;
      border-top: 1px solid #e0e0e5;
      bottom: 0;
      z-index: 1; }
      #events .event-entry .info-bar div, #events .event-entry .info-bar p, #events .event-entry .info-bar a {
        float: left; }
      #events .event-entry .info-bar p {
        margin: 18px;
        font-size: 14px; }
      #events .event-entry .info-bar .icon.calendar {
        width: 30px;
        height: 25px;
        margin-top: 14px;
        background-position: -50px -25px; }
      #events .event-entry .info-bar .icon.clock {
        width: 25px;
        height: 25px;
        margin-top: 14px;
        margin-left: 30px;
        background-position: 0px -25px; }
      #events .event-entry .info-bar .btn {
        position: absolute;
        min-width: 120px;
        height: 40px;
        padding: 10px;
        top: 8px;
        font-size: 14px;
        right: 15px; }

@media (max-width: 860px) {
  #events .container {
    padding: 0 15px; }
  #events .event-entry {
    min-height: auto; }
    #events .event-entry .image {
      position: static;
      width: 100%;
      height: 200px; }
    #events .event-entry .text {
      padding: 0 30px;
      max-height: none;
      margin-bottom: 15px; }
      #events .event-entry .text p {
        max-height: 68px;
        overflow: hidden; }
      #events .event-entry .text h2 {
        white-space: normal; }
    #events .event-entry .info-bar {
      position: relative;
      padding-left: 30px; } }
@media (max-width: 550px) {
  #events .event-entry .info-bar {
    height: auto;
    overflow: auto;
    padding: 15px 30px; }
    #events .event-entry .info-bar .icon.clock {
      clear: left;
      margin-left: 0px; }
    #events .event-entry .info-bar .btn {
      clear: both;
      position: static;
      margin-bottom: 15px; } }
#event-entry {
  color: #424753; }
  #event-entry .container {
    max-width: 800px;
    margin: 60px auto; }
  #event-entry .title-image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 4px; }
  #event-entry .calendar {
    margin: 10px 10px 0 30px; }
    #event-entry .calendar .icon {
      display: inline-block;
      width: 30px;
      height: 25px;
      background-position: -50px -25px;
      vertical-align: bottom;
      margin-right: 10px; }
  #event-entry .clock {
    margin: 10px 10px 0 30px; }
    #event-entry .clock .icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-position: 0px -25px;
      vertical-align: bottom;
      margin-right: 10px; }

@media (max-width: 750px) {
  #event-entry .blue, #event-entry .calendar, #event-entry .clock {
    display: block;
    margin: 0 0 30px 0; } }
#connect {
  color: #424753; }
  #connect .connect-entry {
    text-align: center;
    min-height: 500px; }
    #connect .connect-entry img {
      max-width: 320px;
      width: 100%;
      height: auto; }
    #connect .connect-entry hr {
      background: #e0e0e5;
      margin: 0 auto;
      width: 190px;
      height: 1px;
      margin-top: 10px; }
    #connect .connect-entry p {
      margin: 25px 0 0;
      opacity: 0.6; }

@media (max-width: 860px) {
  #connect .connect-entry {
    width: 50%; } }
@media (max-width: 580px) {
  #connect .connect-entry {
    width: 100%;
    min-height: auto;
    margin-bottom: 60px; } }
#blog-page {
  overflow: auto; }

.blog-entry {
  position: relative;
  display: block;
  background: #424753;
  width: 100%;
  height: 330px;
  float: left;
  margin-right: 60px;
  margin-top: 45px;
  overflow: hidden;
  border-radius: 4px; }
  .blog-entry.first .preview h3 {
    font-size: 30px; }
  .blog-entry .preview {
    position: absolute;
    margin: 30px;
    z-index: 3;
    color: #fff;
    bottom: 0px;
    overflow: hidden; }
    .blog-entry .preview .category-tag {
      background: #424753;
      display: inline-block;
      font-family: Avenir-Heavy;
      padding: 7px 12px;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      margin-bottom: 15px;
      text-transform: capitalize; }
      .blog-entry .preview .category-tag.blog {
        background: #89d473; }
      .blog-entry .preview .category-tag.vlog {
        background: #00c0f3; }
      .blog-entry .preview .category-tag.news {
        background: #d54b4b; }
    .blog-entry .preview a {
      color: #fff; }
    .blog-entry .preview h3 {
      font-family: Avenir-Heavy; }
    .blog-entry .preview p {
      margin: 15px 0 0 0;
      max-height: 66px; }
    .blog-entry .preview button {
      min-width: 150px;
      margin-top: 15px;
      color: #fff;
      opacity: 0;
      transition: 0.6s all;
      -webkit-transition: 0.6s all; }
      .blog-entry .preview button:hover {
        color: #424753; }
    .blog-entry .preview .text-box {
      margin-bottom: -65px;
      transition: 0.3s all;
      -webkit-transition: 0.3s all; }
  .blog-entry .gradient {
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(36, 39, 46, 0) 0%, #24272e 80%, #24272e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(36, 39, 46, 0) 0%, #24272e 80%, #24272e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(36, 39, 46, 0) 0%, #24272e 80%, #24272e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00403a3a', endColorstr='#403a3a',GradientType=0 );
    /* IE6-9 */ }
  .blog-entry .image {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.3s all;
    -webkit-transition: 0.3s all; }
  .blog-entry:hover .text-box {
    margin-bottom: 0px; }
    .blog-entry:hover .text-box button {
      opacity: 1; }
  .blog-entry:hover .image {
    opacity: 1; }

.phrase-box {
  position: relative;
  background: #00c0f3;
  width: 100%;
  height: 330px;
  float: left;
  margin-right: 60px;
  margin-top: 45px;
  overflow: hidden;
  border-radius: 4px;
  color: #fff;
  padding: 30px; }
  .phrase-box h2 {
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-family: Avenir-Light;
    font-style: italic; }
  .phrase-box .slick-dots {
    position: absolute;
    bottom: 30px; }
    .phrase-box .slick-dots li {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 100%;
      margin-right: 8px;
      opacity: 0.5; }
      .phrase-box .slick-dots li.slick-active {
        opacity: 1; }
    .phrase-box .slick-dots button {
      display: none; }

@media (max-width: 1140px) {
  .phrase-box h2 {
    font-size: 20px; } }
@media (max-width: 860px) {
  #blog-page .blog-entry.first .preview h3, .blog-entries .blog-entry.first .preview h3 {
    font-size: 24px; }
  #blog-page .col-66, #blog-page .col-50, .blog-entries .col-66, .blog-entries .col-50 {
    width: 100%; }
  #blog-page .col-33, .blog-entries .col-33 {
    display: none; } }
#blog-entry {
  width: 100%;
  max-width: 760px;
  padding: 0 30px;
  margin: 60px auto;
  color: #424753; }
  #blog-entry .title-image {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    width: 100%;
    height: 280px; }
  #blog-entry .video {
    margin-bottom: 30px; }
    #blog-entry .video iframe {
      display: block;
      margin: 0 auto; }
  #blog-entry .tags .tag {
    padding: 4px 8px;
    border: 1px solid #e0e0e5;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px; }
  #blog-entry .entry-footer {
    overflow: auto; }
  #blog-entry .share-blog {
    width: 50%;
    float: left;
    padding-right: 30px; }
    #blog-entry .share-blog p {
      margin: 0px 0 15px; }
    #blog-entry .share-blog .icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 5px; }
      #blog-entry .share-blog .icon.facebook {
        background-position: -56px -82px;
        width: 31px; }
      #blog-entry .share-blog .icon.twitter {
        background-position: -88px -82px; }
      #blog-entry .share-blog .icon.google {
        background-position: -120px -82px; }
  #blog-entry .author {
    width: 50%;
    float: left;
    padding-left: 30px;
    text-align: right; }
    #blog-entry .author .author-photo {
      border-radius: 100%;
      border: 3px solid #00c0f3; }
    #blog-entry .author p {
      margin: 10px 0;
      font-size: 14px; }
  #blog-entry hr {
    background: #e0e0e5;
    width: 440px;
    height: 1px;
    margin: 30px auto; }

.more-articles-header {
  background: #f4f5f7;
  text-align: center;
  padding: 30px 0;
  color: #424753;
  font-family: Avenir-Medium; }
  .more-articles-header h4 {
    color: #00c0f3; }

.more-articles {
  margin: 60px auto 0;
  overflow: auto; }
  .more-articles .more-entry {
    color: #424753; }
    .more-articles .more-entry .image {
      position: relative;
      width: 100%;
      height: 180px;
      background-position: center;
      background-size: cover;
      border-radius: 4px;
      margin-bottom: 15px; }
      .more-articles .more-entry .image .category-tag {
        position: absolute;
        left: 15px;
        bottom: 15px;
        background: #424753;
        display: inline-block;
        font-family: Avenir-Heavy;
        padding: 7px 12px;
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        text-transform: capitalize; }
        .more-articles .more-entry .image .category-tag.blog {
          background: #89d473; }
        .more-articles .more-entry .image .category-tag.vlog {
          background: #00c0f3; }
        .more-articles .more-entry .image .category-tag.news {
          background: #d54b4b; }
    .more-articles .more-entry p {
      margin: 15px 0; }

@media (max-width: 860px) {
  .more-articles .more-entry {
    width: 50%; }
  .more-articles .more-entry:nth-child(3) {
    display: none; } }
@media (max-width: 500px) {
  #blog-entry .share-blog {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 30px; }
  #blog-entry .author {
    width: 100%;
    text-align: center;
    padding: 0; }

  .more-articles, .more-articles-header {
    display: none; } }
#contact {
  color: #424753;
  margin-bottom: -120px;
  overflow: auto; }
  #contact .col-50 {
    max-width: 550px;
    padding: 30px 60px 0; }
  #contact #map {
    width: 50%;
    height: 890px;
    float: left; }
  #contact .form {
    margin-top: 30px; }

@media (max-width: 850px) {
  #contact {
    margin-bottom: 0px; }
    #contact #map {
      width: 100%;
      height: 400px; }
    #contact .col-50 {
      max-width: none;
      width: 100%;
      padding: 0 30px; } }

/*# sourceMappingURL=style.css.map */
