{#
 #  Contact
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Contact'%}

{% block content %}
	
	<section id="contact">

		<!-- Map -->

		<div id="map"></div>

		<!-- Contact Info -->

		<div class="col-50">

			<p>If you’d like to find out more about church, please don’t hesitate to get in touch and say hello. You can simply pick up the phone and call, or drop us an email. We’re here to help.</p>

			<p>Email <a href="mailto:info@transformation.cc">info@transformation.cc</a></p>
			<p>Mobile: +44 (0) 7710034182 </p>
			<p>Phone: +44 (0) 28 92665647 </p>

			<!-- Contact Form -->

			<h3 class="blue">Contact Us</h3>

			<form class="form" method="post" action="" accept-charset="UTF-8">

				{{ getCsrfInput() }}
				<input type="hidden" name="action" value="contactForm/sendMessage">
				<input type="hidden" name="redirect" value="contact/thanks">

				<label for="input-name">Full Name</label>
				<div class="input-group">

					<div class="icon user"></div>
					<div class="vr"></div>
					<input id="input-name" type="text" placeholder="Full Name" name="message[Full Name]">
					<div class="error-text"></div>
				</div>

				<label for="input-email">Email</label>
				<div class="input-group">

					<div class="icon email"></div>
					<div class="vr"></div>
					<input id="input-email" type="email" placeholder="Email" name="fromEmail">
					<div class="error-text"></div>
				</div>

				<label for="input-message">Message</label>
				<div class="input-group">

					<div class="icon message"></div>
					<div class="vr"></div>
					<textarea id="input-message" placeholder="Message" rows="3" name="message[Message]"></textarea>
					<div class="error-text"></div>
				</div>

				<div class="checkbox-group">
					<input type="checkbox" name="message[Urgent]" id="input-urgent"/>
					<label for="input-urgent"> Urgent </label>
				</div>

				<div class="checkbox-group">
					<input type="checkbox" name="message[In need of a visit]" id="input-visit"/>
					<label for="input-visit"> I feel I need a visit </label>
				</div>

				<button type="submit" class="btn btn-blue"> Send </button>
			</form>

		</div>

	</section>


{% endblock %}