{#
 #  Thanks
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Thanks'%}

{% block content %}
	
	<section id="thanks" class="container">

		<p class="page-description"> 

			Your message has been sent. A member of our team will be in touch as soon as possible. 
			<br> <br>
			<a class="btn btn-blue" href="/"> Back to Homepage </a>

		</p>

	</section>


{% endblock %}