{#
 #  Media
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Media' %}

{% block content %}

	<section id="media" class="container">

		<p class="page-description">{{entry.text}}</p>

		<div class="filters">

			<h4>Filters</h4>

			{% for category in craft.categories.group('mediaType') %}

				<a class="btn btn-grey-clear" href="{{category.url}}">{{category.title}}</a>
			
			{% endfor %}
		</div>

		{% paginate craft.entries.section('mediaEntries').limit(12) as pageInfo, media%}

		<div class="row">
		{% for entry in media %}
		
			<a class="media-entry col-33" href="{% if entry.mediaSource.value =='pdf' %}{{entry.pdf.first().url}}{% else %}{{entry.mediaLink}}{% endif %}">

				<div class="thumbnail">

					{% if entry.mediaSource.value =='soundCloud' or entry.mediaSource.value =='pdf' %}
						<div class="image" style="background-image:url('{{entry.image.first().getUrl}}')"></div>
					{% else %}
						{% set video = craft.embedder.url(entry.mediaLink, {max_width:500, max_height:800}) %}
						<div class="image" style="background-image:url('{{video.video_highres}}')"></div>
					{% endif %}

					<span class="mediaLabel">{{entry.mediaSource.label}}</span>
					<div class="gradient"></div>
					<div class="icon {{entry.mediaSource}}"></div>

					<div class="blue-line"></div>
				</div>

				<h4>{{entry.title}}</h4>
				<p>Uploaded: {{ entry.postDate | date("M d, Y") }} </p>
				<p>
					<span class="tag"> {{entry.mediaType.first()}} </span>
				</p>
				
			</a>
		{% endfor %}
		</div>

		{% if pageInfo.prevUrl or pageInfo.nextUrl %}

			<div class="paginate">

				{% if pageInfo.prevUrl %}
					<a href="{{ pageInfo.prevUrl }}" class="btn btn-blue"> Last Page </a>
				{% else %}
					<button class="btn btn-grey-clear"> Last Page </button>
				{% endif %}

				{% if pageInfo.nextUrl %}
					<a href="{{ pageInfo.nextUrl }}" class="btn btn-blue"> Next Page </a>
				{% else %}
					<button class="btn btn-grey-clear"> Next Page </button>
				{% endif %}
			</div>
		{% endif %}

	</section>

{% endblock %}