{#
 #  Blog Entry
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = entry.title %}
{% set article = entry %}

{% block content %}

	<section id="blog-entry">

		{% if article.blogCategory != 'vlog' %}

			<div class="title-image" style="background-image:url({{article.image.first().getUrl('fit700')}})"></div>

		{% elseif article.blogCategory == 'vlog' %}

			<div class="video">
				{{ craft.embedder.embed (article.videoUrl, {max_width:700, max_height:400}) }}
			</div>

		{% endif %}

		{{article.body}}

		{% if article.blogTags | length %}
			<p class="tags">
				Tags:
				{% for tag in article.blogTags %}
				<span class="tag">{{tag}}</span>
				{% endfor %}
			</p>
		{% endif %}

		<hr>

		<div class="entry-footer">

			<div class="share-blog">

				<p> Share on Social Media </p>

				<a class="icon facebook" href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}"></a>
				<a class="icon twitter" href="https://twitter.com/home?status={{article.url}}"></a>
				<a class="icon google" href="https://plus.google.com/share?url={{article.url}}"></a>
			</div>

			{% set author = article.blogAuthor.first() %}

			{% if author %}
			<div class="author">

				<img class="author-photo" src="{{author.photo.first().getUrl('crop70x70')}}" alt="{{author}}"/>
				<p><strong>By:</strong> {{author}}</p>
				<p><strong>Posted:</strong> {{article.postDate | date('F jS Y') }}</p>
			</div>
			{% endif %}
		</div>

	</section>

	<div class="more-articles-header"> 
		<h4>More Articles</h4>
	</div>

	<div class="more-articles container">

		{% set exclude = ['not',article.id] | join(' ')%}

		{% for entry in craft.entries({id:exclude}).section('blogEntries').limit(3).find() %}
		<div class="more-entry col-33">

			<div class="image" style="background-image:url({{entry.image.first().getUrl('fit700')}})">

				<div class="category-tag {{entry.blogCategory}}"> {{entry.blogCategory}} </div>
			</div>

			<h3>{{entry.title}}</h3>
			<p>{{entry.body | trimit(100, true, "...")}}</p>
			<p> <a href="{{entry.url}}">Read More >></a> </p>

		</div>
		{% endfor %}

	</div>

{% endblock %}