{#
 #  Blog
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Blog' %}
{% set bodyColor = 'grey' %}

{% block content %}

	<section id="blog-page" class="container">

		<p class="page-description">{{entry.text}}</p>

		{% paginate craft.entries.section('blogEntries').offset(1).limit(6) as pageInfo, entries%}

		<!-- First Row -->

		<div class="row">
		{% if pageInfo.currentPage == 1 %}
	
			{% set firstEntry = craft.entries.section('blogEntries').first() %}

			<div class="col-66">
				<a class="blog-entry first" href="{{firstEntry.url}}">

					<div class="preview">

						<div class="text-box">
							<div class="category-tag {{firstEntry.blogCategory}}"> {{firstEntry.blogCategory}} </div>

							<h3>{{firstEntry.title}}</h3>
							<p>{{firstEntry.body | trimit(100, true, "...")}}</p>

							<button class="btn btn-white-clear"> Read More </button>
						</div>
					</div>

					<div class="gradient"></div>

					{% if firstEntry.blogCategory != 'vlog' %}
						<div class="image" style="background-image:url('{{firstEntry.image.first().getUrl('fit1600')}}')"></div>
					{% elseif firstEntry.blogCategory == 'vlog' %}

					{% set video = craft.embedder.url(firstEntry.videoUrl, {max_width:500, max_height:800}) %}
						<div class="image" style="background-image:url('{{video.video_highres}}')"></div>
					{% endif %}
				</a>
			</div>

			<div class="col-33">
				<div class="phrase-box">

					<div class="phrase">
						<h2>Real <br> Honest Christianity</h2>
					</div>

					<div class="phrase">
						<h2>Be <br> Transformed <br> To Transform</h2>
					</div>
					
					<div class="phrase">
						<h2>Transformation that matters, happen in the heart</h2>
					</div>
				</div>
			</div>
		{% endif %}

		<!-- Rest of the entries -->

		{% for entry in entries %}
			<div class="col-50">

				<a class="blog-entry" href="{{entry.url}}">

					<div class="preview">

						<div class="text-box">
							<div class="category-tag {{entry.blogCategory}}"> {{entry.blogCategory}} </div>

							<h3>{{entry.title}}</h3>
							<p>{{entry.body | trimit(100, true, "...")}}</p>

							<button class="btn btn-white-clear"> Read More </button>
						</div>
					</div>

					<div class="gradient"></div>

					{% if entry.blogCategory != 'vlog' %}
						<div class="image" style="background-image:url('{{entry.image.first().getUrl('fit1600')}}')"></div>
					{% elseif entry.blogCategory == 'vlog' %}

						{% set video = craft.embedder.url(entry.videoUrl, {max_width:500, max_height:800}) %}
						<div class="image" style="background-image:url('{{video.video_highres}}')"></div>
					{% endif %}
				</a>
			</div>

		{% endfor %}
		</div>

		<!-- Pagination -->

		{% if pageInfo.prevUrl or pageInfo.nextUrl %}

			<div class="paginate">

				{% if pageInfo.prevUrl %}
					<a href="{{ pageInfo.prevUrl }}" class="btn btn-blue"> Last Page </a>
				{% else %}
					<button class="btn btn-grey-clear"> Last Page </button>
				{% endif %}

				{% if pageInfo.nextUrl %}
					<a href="{{ pageInfo.nextUrl }}" class="btn btn-blue"> Next Page </a>
				{% else %}
					<button class="btn btn-grey-clear"> Next Page </button>
				{% endif %}
			</div>
		{% endif %}

	</section>

{% endblock %}