<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<title>{% if title is defined %}{{ title }} | {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="icon" type="image/png" href="/favicon.png" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick.css">

</head>

<body>

	<div class="page {%if bodyColor == 'grey'%}grey{% endif %}">

		<!-- Header & Nav -->

		<header {% if craft.request.firstSegment != "" %}class="collapse"{% endif %}>

			<div class="bg-img" style="background-image:url({{header.image.first().getUrl('fit1600')}})"></div>
			<div class="top-fade"></div>

			<!-- Navigation -->

			<nav class="open">

				<div class="container">

					<a href="/" class="logo icon"></a>

					<div class="links">
						<a href="/" class="link {% if craft.request.firstSegment == '' %}active{% endif %}">Home</a>
						<div href="/new-here" class="link dropdown-container {% if craft.request.firstSegment == 'new-here' or craft.request.firstSegment == 'welcome' or craft.request.firstSegment == 'our-team' or craft.request.firstSegment == 'volunteer'%}active{% endif %}">
							About Us
							<div class="dropdown">
								<a href="/welcome" class="link">Welcome</a>
								<a href="/new-here" class="link">New Here</a>
								<a href="/our-team" class="link">Our Team</a>
								<a href="/volunteer" class="link">Volunteer</a>
							</div>
						</div>
						<a href="/connect" class="link {% if craft.request.firstSegment == 'connect' %}active{% endif %}">Connect</a>
						<a href="/events" class="link {% if craft.request.firstSegment == 'events' %}active{% endif %}">Events</a>
						<a href="/media" class="link {% if craft.request.firstSegment == 'media' %}active{% endif %}">Media</a>
						<a href="/blog" class="link {% if craft.request.firstSegment == 'blog' %}active{% endif %}">Blog</a>
						<a href="/contact" class="link {% if craft.request.firstSegment == 'contact' %}active{% endif %}">Contact</a>
					</div>
				</div>
			</nav>

			<!-- H1 & about text -->

			<div class="central-text">

				<h1>
					{% if craft.request.firstSegment == "" %}
						Transformation Centre
					{% else %}
						{{title}}
					{% endif %}
				</h1>
				<div class="ruler">
					<div class="line"></div><div class="dot"></div><div class="line"></div>
				</div>
				<p>{{header.text}}</p>

				<a href="/welcome" class="btn btn-blue"> More About Us </a>
			</div>

			<div class="lower-text">

				<div class="container">

					<div class="service-times">

						<h3>Service Times</h3>
						{{serviceTimes.body}}
					</div>

					<div class="cta-btns">

						<a href="/new-here" class="btn btn-white-clear"> New Here? </a>
						<a href="/volunteer" class="btn btn-white-clear"> Volunteer </a>
					</div>
				</div>
			</div>

		</header>


		{% block content %}{% endblock %}

		<!-- Newsletter sign up -->

		<div class="newsletter">

			<h3> Our Associates</h3>

			<div class="associates-carousel">

				{% for logo in ourAssociates.associateLogos.associates %}
					<a href="{{logo.website}}" class="associate-logo">
						<img src="{{logo.image.first().getUrl('fit140x80')}}"/>
					</a>
				{% endfor %}
			</div>

			<hr>

			<h3>Sign up to our Newsletter</h3>

			<form id="newsletter-signup-form" class="form" action="" method="POST">

				<input type="hidden" name="action" value="mailchimpSubscribe/list/Subscribe">
				<input type="hidden" name="redirect" value="newsletter/receipt">

				<p class="newsletter-error-text"> Error message</p>

				<div class="input-group">

					<div class="icon user"></div>
					<div class="vr"></div>
					<input type="text" placeholder="First Name" id="mce-FNAME" name="mcvars[FNAME]">
				</div>

				<div class="input-group">

					<div class="icon user"></div>
					<div class="vr"></div>
					<input type="text" placeholder="Last Name" id="mce-LNAME" name="mcvars[FNAME]">
				</div>

				<div class="input-group">

					<div class="icon email"></div>
					<div class="vr"></div>
					<input type="email" placeholder="Email" id="mce-EMAIL" name="email">
				</div>

				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_75e2c63a8c1168a90928847ac_7b3557e405" tabindex="-1" value=""></div>

				<button class="btn btn-blue"> Send </button>
			</form>
		</div>

		<!-- Footer -->

		<footer>

			<div class="container">

				<div class="col-25">

					<div class="logo icon"></div>
					<p>© 2016 Transformation Centre <br> All rights reserved</p>
					<p>Co. No. NI620141 <br> Charity No. NI00175</p>
				</div>

				<div class="col-25">

					<h4>Service Times</h4>
					{{serviceTimes.body}}
				</div>

				<div class="col-25">

					<h4>Contact Us</h4>

					{% if facebook.siteUrl %}	<a href="{{facebook.siteUrl}}" class="icon social facebook"></a>{% endif %}
					{% if twitter.siteUrl %}	<a href="{{twitter.siteUrl}}" class="icon social twitter"></a>{% endif %}
					{% if vimeo.siteUrl %}		<a href="{{vimeo.siteUrl}}" class="icon social vimeo"></a>{% endif %}
					{% if instagram.siteUrl %}	<a href="{{instagram.siteUrl}}" class="icon social instagram"></a>{% endif %}
					{% if youtube.siteUrl %}	<a href="{{youtube.siteUrl}}" class="icon social youtube"></a>{% endif %}

					<p>
						Email: <a href="mailto:info@transformation.cc">info@transformation.cc</a> <br> Mobile: +44 (0) 7710034182 <br> Phone: +44 (0) 28 92665647
					</p>
				</div>

				<div class="col-25">

					<h4>Address</h4>
					<p>
						<a href="https://www.google.co.uk/maps/place/Gregg+St,+Lisburn+BT27+5AW/@54.5100871,-6.0342101,17.08z">
							Gregg Street <br>
							Lisburn, Northern Ireland <br>
							BT27 5AW
						</a>
					</p>

				</div>

			</div>

		</footer>
	</div>

	<nav class="mobile-nav">

		<div class="hamburger">
			<div class="filling f1"></div>
			<div class="filling f2"></div>
			<div class="filling f3"></div>
		</div>

		<div class="links">

			<a href="/" class="link {% if craft.request.firstSegment == '' %}active{% endif %}">Home</a>
			<a href="/welcome" class="link {% if craft.request.firstSegment == 'welcome' %}active{% endif %}">Welcome</a>
			<a href="/new-here" class="link {% if craft.request.firstSegment == 'new-here' %}active{% endif %}">New Here</a>
			<a href="/our-team" class="link {% if craft.request.firstSegment == 'our-team' %}active{% endif %}" >Our Team</a>
			<a href="/volunteer" class="link {% if craft.request.firstSegment == 'volunteer' %}active{% endif %}">Volunteer</a>

			<a href="/connect" class="link {% if craft.request.firstSegment == 'connect' %}active{% endif %}">Connect</a>
			<a href="/events" class="link {% if craft.request.firstSegment == 'events' %}active{% endif %}">Events</a>
			<a href="/media" class="link {% if craft.request.firstSegment == 'media' %}active{% endif %}">Media</a>
			<a href="/blog" class="link {% if craft.request.firstSegment == 'blog' %}active{% endif %}">Blog</a>
			<a href="/contact" class="link {% if craft.request.firstSegment == 'contact' %}active{% endif %}">Contact</a>
		</div>
	</nav>


	<!-- Scripts -->

	<script type="text/javascript" src="/assets/lib/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyB5ERn68TeJ5gPkEQ51CKsT-xiw66rRwmo"></script>
	<script type="text/javascript" src="/assets/lib/gmaps.js"></script>

	<script type="text/javascript" src="/assets/lib/slick/slick.min.js"></script>

	<script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>
</html>
