{#
 #  Connect
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Connect'%}

{% set entries = craft.entries.section('connect') %}
{% set tabs = craft.categories.group('connectGroup') %}

{% block content %}
	
	<section id="connect" class="container">

		<div class="tabs">

			{% for tab in tabs %}

				<div class="tab {% if loop.first %}active{% endif %}" data-tab="{{tab.slug}}"> {{tab.title}}<span class="blue-line"></span> </div>
			{% endfor %}
		</div>

		{% for tab in tabs %}
			<div class="tab-group row {{tab.slug}} {% if loop.first %}open{% endif %}">

				{% for entry in entries%}

					{% if entry.connectGroup.first() == tab.title %}

					<div class="col-33 connect-entry">

						<img src="{{entry.icon.first().getUrl}}" alt="{{entry.title}}" width="320">

						<hr>

						{{entry.connectDescription}}

					</div>

					{% endif %}

				{% endfor %}
			</div>
		{% endfor %}

	</section>


{% endblock %}