{#
 #  Homepage
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
	
	<div id="home" class="container">

		<!-- Media section -->

		<section class="media-section">

			<div class="section-title">
				<h4>Recent Sermons</h4>
				<hr>
			</div>

			<div class="row">
			{% for entry in craft.entries.section('mediaEntries').limit(4) %}

				<a class="media-entry col-33" href="{% if entry.mediaSource.value =='pdf' %}{{entry.pdf.first().url}}{% else %}{{entry.mediaLink}}{% endif %}">

					<div class="thumbnail">

						{% if entry.mediaSource.value =='soundCloud' or entry.mediaSource.value =='pdf' %}
							<div class="image" style="background-image:url('{{entry.image.first().getUrl('fit1600')}}')"></div>
						{% else %}
							{% set video = craft.embedder.url(entry.mediaLink, {max_width:500, max_height:800}) %}
							<div class="image" style="background-image:url('{{video.video_highres}}')"></div>
						{% endif %}

						<div class="mediaLabel">
							<h4>{{entry.title}}</h4>
							<p>{{entry.mediaType.first()}}</p>
						</div>
						<div class="gradient"></div>
						<div class="icon {{entry.mediaSource}}"></div>

						<div class="blue-line"></div>
					</div>
				</a>

			{% endfor %}
			</div>
		</section>

		<!-- Blog section -->

		<section class="blog-section">

			<div class="section-title">
				<h4>Latest from our Blog</h4>
				<hr>
			</div>

			<div class="row blog-entries">

				{% for entry in craft.entries.section('blogEntries').limit(3) %}

					<div class="{% if loop.index == 1%}col-66{% else %}col-50{% endif %}">
						<a class="blog-entry {% if loop.index == 1%}first{% endif %}" href="{{entry.url}}">

							<div class="preview">

								<div class="text-box">
									<div class="category-tag {{entry.blogCategory}}"> {{entry.blogCategory}} </div>

									<h3>{{entry.title}}</h3>
									<p>{{entry.body | trimit(100, true, "...")}}</p>

									<button class="btn btn-white-clear"> Read More </button>
								</div>
							</div>

							<div class="gradient"></div>

							{% if entry.blogCategory != 'vlog' %}
								<div class="image" style="background-image:url('{{entry.image.first().getUrl('fit1600')}}')"></div>
							{% elseif entry.blogCategory == 'vlog' %}

								{% set video = craft.embedder.url(entry.videoUrl, {max_width:500, max_height:800}) %}
								<div class="image" style="background-image:url('{{video.video_highres}}')"></div>
							{% endif %}
						</a>
					</div>

					{% if loop.index == 1%}

					<div class="col-33">
						<div class="phrase-box">

							<div class="phrase">
								<h2>Real <br> Honest Christianity</h2>
							</div>

							<div class="phrase">
								<h2>Be <br> Transformed <br> To Transform</h2>
							</div>
							
							<div class="phrase">
								<h2>Transformation that matters, happens in the heart</h2>
							</div>
						</div>
					</div>
					{% endif %}

				{% endfor %}
			</div>
		</section>

		<!-- Upcoming Events -->

		<section class="events-section">

			<div class="section-title">
				<h4>Upcoming Events</h4>
				<hr>
			</div>

			<div class="row">
			{% for event in craft.entries.section('eventEntries').limit(3) %}

				<div class="col-33">

					<div class="event-entry">

						<div class="preview">
							<div class="text">

								<h3>{{event.title}}</h3>
								<p class="date"> <span class="icon clock"></span> {{event.timeAndDate | date('F jS Y')}} </p>

								<p>{{event.description | trimit(50, true, "...")}}</p>

								<a href="{{event.url}}" class="btn btn-white-clear"> More Info </a>
							</div>
						</div>

						<div class="gradient"></div>

						<div class="image" style="background-image:url('{{event.image.first().getUrl}}')"></div>
					</div>
				</div>

			{% endfor %}
			</div>

		</section>

	</div>

{% endblock %}
