{#
 #  New Here
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'New Here'%}

{% block content %}
	
	<section id="new-here" class="container">

		<div class="row">

			<div class="col-66">

				{{entry.body}}

				<a href="/uploads/pdfs/what-we-believe.pdf" class="btn btn-blue"> What are our Beliefs? </a>
			</div>

			<div class="meet-us-snippet col-33">

				<h3>Our Team</h3>
				<hr>

				{% for person in craft.entries.section('teamMembers').order('postDate asc').limit(4) %}
					<a class="team-member" href="/our-team#{{person.teamGroup.first()}}">

						<img class="photo" src="{{person.photo.first().getUrl('crop70x70')}}" alt="{{person.title}}">
						<h4>{{person.title}}</h4>
						<p>{{person.role}}</p>
						<div class="icon arrow"></div>
					</a>
				{% endfor %}

				<p class="more"> <a href="/our-team"> More of us >> </a> </p>

			</div>
		</div>

	</section>


{% endblock %}