{#
 #  Our Team
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Our Team'%}
{% set tabs = craft.categories.group('teamGroups') %}

{% block content %}
	
	<section id="meet-us" class="container">

		<p class="page-description">{{entry.text}}</p>

		<div class="tabs">

			{% for tab in tabs %}

				<div class="tab {% if loop.index == 1 %}active{% endif %}" data-tab="{{tab.title}}"> {{tab.title}}<span class="blue-line"></span> </div>
			{% endfor %}
		</div>

		<div class="team-photos">

			{% for tab in tabs %}
			<div class="tab-group {% if loop.index == 1 %}open{% endif %} {{tab.title}}">

				{% for person in craft.entries.section('teamMembers').order('postDate asc') %}

					{% if person.teamGroup.first() == tab.title %}
					<div class="team-member">

						<img class="photo" src="{{person.photo.first().getUrl('teamPhotoResize')}}" alt="{{person.title}}"/>

						<div class="name-role">
							<h3>{{person.title}}</h3>
							<h4>{{person.role}}</h4>
						</div>

						<div class="social-icons">
							{% if person.facebookLink %}<a class="icon facebook" href="{{person.facebookLink}}"></a>{% endif %}
							{% if person.twitterLink %}<a class="icon twitter" href="{{person.twitterLink}}"></a>{% endif %}
							{% if person.email %}<a class="icon email" href="mailto:{{person.email}}"></a>{% endif %}
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</section>


{% endblock %}