{#
 #  Volunteer
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Volunteer'%}

{% block content %}

	<section id="join-us" class="container">

		<p class="page-description">{{entry.pageDescription|nl2br}} </p>

		<div class="row">

			<div class="col-50">

				<h3> Why does the church need me?</h3>
				<hr>
				<p>{{entry.whyDoesTheChurchNeedMe|nl2br}}</p>
			</div>

			<div class="col-50">

				<div class="connect-img-1">
					<div class="image" style="background-image:url('{{entry.volunteerImages[0].getUrl}}')"></div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-50">

				<div class="connect-img-2">
					<div class="image" style="background-image:url('{{entry.volunteerImages[1].getUrl}}')"></div>
				</div>
			</div>

			<div class="col-50">

				<h3> What Next? </h3>
				<hr>
				<p>{{entry.whatNext|nl2br}}</p>
			</div>
		</div>

		<form class="form" method="post" action="" accept-charset="UTF-8">

			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="contactForm/sendMessage">
			<input type="hidden" name="redirect" value="contact/thanks">

			<label for="">Full Name</label>
			<div class="input-group">

				<div class="icon user"></div>
				<div class="vr"></div>
				<input type="text" id="input-name" placeholder="Full Name" name="message[Full Name]">
				<div class="error-text"></div>
			</div>

			<label>Email</label>
			<div class="input-group">

				<div class="icon email"></div>
				<div class="vr"></div>
				<input type="email" id="input-email" placeholder="Email" name="fromEmail">
				<div class="error-text"></div>
			</div>

			<label>Tel</label>
			<div class="input-group">

				<div class="icon tel"></div>
				<div class="vr"></div>
				<input type="text" placeholder="Tel" name="message[Telephone]">
			</div>

			<label>Address</label>
			<div class="input-group">

				<div class="icon address"></div>
				<div class="vr"></div>
				<input type="text" placeholder="Address" name="message[Address]">
			</div>

			<label>Postcode</label>
			<div class="input-group">

				<div class="icon postcode"></div>
				<div class="vr"></div>
				<input type="text" placeholder="Postcode" name="message[Postcode]">
			</div>

			<label>Your Journey of Faith</label>
			<div class="input-group">

				<div class="icon message"></div>
				<div class="vr"></div>
				<textarea placeholder="Your Journey of Faith" rows="3" name="message[Journey of Faith]"></textarea>
			</div>

			<label>Choose Topic</label>
			<div class="input-group">

				<div class="icon user"></div>
				<div class="vr"></div>
				<select name="message[Topic]">
					<option selected disabled>Choose topic</option>
					<option>Ministry</option>
					<option>Internship</option>
					<option>Membership</option>
					<option>Volunteer</option>
					<option>Career</option>
				</select>
			</div>

			<label>Your Passion For Ministry</label>
			<div class="input-group">

				<div class="icon message"></div>
				<div class="vr"></div>
				<textarea placeholder="Tell us about the ministry you are passionate about" rows="3" name="message[Passion for Ministry]"></textarea>
			</div>

			<button type="submit" class="btn btn-blue"> Send </button>

			<p class="small"><strong>Data Protection:</strong> The personal data you provide will be safely and securely stored according to the Data Protection Act 1998. We will not share your personal information with any third party. It will be kept exclusively for our own records. </p>
		</form>

	</section>


{% endblock %}