{#
 #  Welcome
 # -----------------------
 #}

{% extends "_layout" %}
{% set title = 'Welcome'%}

{% block content %}

	<section id="welcome" class="container">

		<div class="row">

			<div class="col-50">
				{% if entry.videoUrl %}
					{{entry.videoUrl|videoEmbed({height:290})}}
				{% else %}
					<img class="video-placeholder" src="/assets/img/video-placeholder.png" alt="video placeholder">
				{% endif %}
			</div>

			<div class="col-50">
				<h3>Be Transformed to Transform</h3>
				<hr>
				{{entry.beTransformedToTransform}}
			</div>
		</div>

		<div class="ruler-grey"></div>

		<div class="row">

			<div class="col-50">

				<h3>Main Meeting Times</h3>
				<hr>
				{{entry.mainMeetingTimes}}

				<h3>Times &amp; Location</h3>
				<hr>
				{{entry.timesLocation}}
			</div>

			<div class="col-50 map-container">

				<div id="map"></div>
			</div>
		</div>

		<div class="ruler-grey"></div>

		<div class="row">

			<div class="col-50">

				<h3>Frequently Asked Questions</h3>
				<hr>

				<div class="faq">

					{% for entry in entry.faq %}

					<div class="question open">
						<div class="title">{{loop.index}}. {{entry.question}}</div>
						<div class="answer">
							<p>{{entry.answer}}</p>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>

			<div class="col-50">

				<h3>What to Expect</h3>
				<hr>
				{{entry.whatToExpect}}

				<h3>Get Connected</h3>
				<hr>
				{{entry.getConnected}}
			</div>
		</div>

	</section>

{% endblock %}